{% extends "base.html" %} 
{% load bootstrap %} 

{% block cuerpo %} 
  {% if mensaje %}
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">
       &times;
      </button>
      {{mensaje}}
    </div>
  {% endif %}
  <script>
    $(document).ready(function() {
      $("[rel='tooltip']").tooltip();
      $(".tit-list").html("{{titulo}}")
    });
  </script>
  <script>
    function confirmFun() {
      confirm("Press a button!");
    }
  </script>
  <div class="container">
    <div class="col-md-12">
        <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <form id='formulario' role="search" method='post' enctype='multipart/form-data' action=''>
                    {% csrf_token %}
                    
                        {{ formulario | bootstrap}}
                    <div>
                      
                    <center>
                    <button type="submit" class="btn">Buscar</button>
                    </center>
                    </div>
                            
                </form>
            </div> {# /input-group  #}
        </div>
     

       {% if lista %}
        <table class="table table-striped table-bordered fontsize22" cellspacing="0" width="100%" >
          <thead>
          <tr>
            <th>Nombre</th>
            <th>Tiempo de Espera Total</th>
            <th>&Uacute;ltima Fecha de Ingreso</th>
            <th>Acciones</th>
          </tr>
          </thead>
          <tfoot>
            <tr>
                <th>Nombre</th>
                <th>Tiempo de Espera Total</th>
                <th>&Uacute;ltima Fecha de Ingreso</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
        <tbody>
          {% for l in lista %}
            <tr>
              <td>
                <span class="nombreLista"> 
                  <a href='/emergencia/{{ l.id }}/perfil'> {{l.paciente}} </a>
                </span>
              </td>
              
              <td>{{l.tiempo_emergenciaT}}</td>
              <td>{{l.horaR}}</td>
              <td>
                <center>
                  <a href="/emergencia/agrega_emer/{{l.id}}" 
                     rel="tooltip"
                     data-toggle="tooltip"
                     data-original-title="Ingresar a Emergencias"
                     onclick="return window.confirm('Esta de acuerdo en ingresar al paciente?')"> 
                    <img src="/static/img/acceso.png"
                         class = "marginleft5 width40 height40" />
                  </a>
                </center>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      
      {% else %} 
        {% if get %}
          <h4><center>Haga una busqueda</center></h4>
          {% else %}
        <h4>
          <center>No hay pacientes que coinciden con la busqueda </center>
        </h4>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
{% block scripts %}
  
{% endblock scripts %}
