{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>Triage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="font-size: 12px;">

<table style="width:100%;">
    <tr>
        <td style="text-align:left">
            <img src="{% static 'img/logoazul.png' %}"  width="60" height="90"/>
        </td>
        <td style="margin-left:-270px;">
            <table>
                <tr>
                    <td>
                        Centro Médico de Caracas
                    </td>
                </tr>
                <tr>
                    <td>
                        Av. Eraso, Plaza El Estanque
                    </td>
                </tr>
                <tr>
                    <td>
                        Urb. San Bernardino, Caracas, Venezuela
                    </td>
                </tr>
                <tr>
                    <td>
                        Tel. +58 212-555-9111 / 555-9486 / 552-2222
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table style="margin-top:20px;font-size: 16px;">
    <tr>
        <td style="background-color:lightblue;text-align: center;"> 
            <br/>
            <h2>Evaluación de Triage</h2>
            <br/>
        </td>
        <td style="background-color:{{triage.colorTriage}};text-align: center;">
            <br/>
            <h2>Nivel de Triage: {{triage.nivel}}</h2>
            <br/>
        </td>
    </tr>
</table>
<table style="width: 100%;margin-top:40px;">
    <tr>
        <td style="text-align: left;">
            <h1>Datos&nbsp;de&nbsp;Identificación</h1>
        </td>
        <td style="text-align: left;">
            <h1>Signos&nbsp;Vitales</h1>
        </td>
    </tr>
</table>
<table style="width: 100%;margin-top:10px;">
    <tr>
        <td>
            <table>
                <th style="text-align: left;" >
                    Cédula
                </th>
                <td style="margin-left:-100px">
                    {{triage.emergencia.paciente.cedula}}
                </td>
            </table>
        </td>
        <td>
            <table>
                <th style="text-align: left;" >
                    Temperatura
                </th>
                <td>
                    {{triage.signos_tmp}}  °C
                </td>  
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <th style="text-align: left;" >
                    Nombre
                </th>
                <td style="margin-left:-100px">
                    {{triage.emergencia.paciente.apellidos}},{{triage.emergencia.paciente.nombres}}
                </td>
            </table>
        </td>
        <td>
            <table>
                <th style="text-align: left;" >Tensión&nbsp;Arterial</th>
                <td>{{triage.signos_pb}} / {{triage.signos_pa}} mmHg</td>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <th style="text-align: left;" >
                    Sexo
                </th>
                <td style="margin-left:-100px">
                    {{triage.emergencia.paciente.sexoR}}
                </td>
            </table>
        </td>
        <td>
            <table>
                <th style="text-align: left;" >
                    Frecuencia&nbsp;Cardíaca
                </th>
                <td>
                    {{triage.signos_fc}} ppm
                </td>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <th style="text-align: left;" >
                    Edad
                </th>
                <td style="margin-left:-100px">
                    {{triage.emergencia.paciente.edad}}
                </td>
            </table>
        </td>
        <td>
            <table>
                <th style="text-align: left;" >
                    Frecuencia&nbsp;Respiración
                </th>
                <td>
                    {{triage.signos_fr}} ppm
                </td>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <td></td>
                <td></td>
            </table>
        </td>
        <td>
            <table>
                <th style="text-align: left;" >
                    Saturación&nbsp;Oxígeno
                </th>
                <td>
                    {{triage.signos_saod}} %
                </td>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <td></td>
                <td></td>
            </table>
        </td>
        <td>
            <table>
                <th style="text-align: left;" >
                    AVPU
                </th>
                <td style="text-align: left;margin-left:-60px">
                    {{triage.get_avpu}}
                </td>
                
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <td></td>
                <td></td>
            </table>
        </td>
        <td>
            <table>
                <th style="text-align: left;" >
                    Dolor
                </th>
                <td>
                    {{triage.signos_dolor}} / 10
                </td>
            </table>
        </td>
    </tr>
</table>
            
<table style="margin-top:20px;">
    <tr>
        <th style="text-align:left;margin-botton:20px;">
            <h1>Datos&nbsp;de&nbsp;Ingreso</h1>
        </th>
    </tr>
    </table>
    <table style="margin-top:20px;">
    <tr>
        <th style="text-align: left;">
            Motivo&nbsp;de&nbsp;Ingreso
        </th>
        <td style="text-align: left;margin-left:-240px">
            {{triage.motivo}}
        </td>
    </tr>
    <tr>
        <th style="text-align: left;">
            Tipo&nbsp;de&nbsp;Ingreso
        </th>
        <td style="text-align: left;margin-left:-240px">
            {{triage.get_ingreso}}
        </td>
    </tr>
</table>
                
<table style="margin-top:50px;width:50%">
    <tr>
        <td>
            <table>
                <td>
                    Triage Aplicado:
                </td>
                <td style="margin-left:-200px">
                    <strong>
                        {{triage.fecha}}
                    </strong>
                </td>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <td>
                    Medico Responsable:
                </td>
                <td style="margin-left:-200px">
                    <strong>
                        {{triage.medico.last_name}},  {{triage.medico.first_name}}
                    </strong>
                </td>
            </table>
        </td>
    </tr>
</table>



</body>
</html>
