# Archivos de configuracion #
#############################
settings.py

# Compiled source #
###################
*.pyc

# Logs and databases #
######################
.sqlite*

# Archivos de los editores de texto #
#####################################
*~
*.swp*
