{% extends "base.html" %} 
{% block cuerpo %}

  <script>
    $(document).ready(function () {
      var emer = '{{emergencia.id}}';
      //loadAtencion(emer);
      $("[rel='tooltip']").tooltip();
    });
  </script>
  
  <style>
	.tablaSig td:first-child{
		width: 150px;
	}
  </style>
  
  
  <div class="centrar">
    <div class="cuadroGrande">
      <center>
        <h3>
          Actualizar Signos 
        </h3>
        
        <form class="tablaAgregar" 
              method="post"
              action="/emergencia/{{emergencia.id}}/actualizarSig">
          {% csrf_token %}
         
          <table class="tablaSig">         
            <tr>
				<td><font size=5><B> Paciente </B></font></td>
				<td>
					<font size=4 style="text-transform: uppercase;">
						<strong>{{emergencia.paciente.nombres}}</strong></font>
					<font size=4 style="text-transform: uppercase;">
						<strong>{{emergencia.paciente.apellidos}}</strong></font>
				</td>
            </tr>
			
            <tr> <br><br> <td> <br><br> </td> </tr>
				
			<tr>
			  <td>{{ form.temperatura.label }}</td>
			  <td>
				<div class='input-append'>
				  {{ form.temperatura }} 
				  <span class='add-on'>&deg;C</span>
				</div>
			  </td>
			  <td>{{ form.temperatura.errors }}</td>
			</tr>

			<tr>
			  <td>{{ form.presion_diastolica.label }}</td>
			  <td>
				<div class='input-append'>
				  {{ form.presion_diastolica }} 
				  <span class='add-on'>mmHg</span>
				</div>
			  </td>
			  <td>{{ form.presion_diastolica.errors }}</td>
			</tr>
					
			<tr>
			  <td>{{ form.presion_sistolica.label }}</td>
			  <td>
				<div class='input-append'>
				  {{ form.presion_sistolica }} 
				  <span class='add-on'>mmHg</span>
				</div>
			  </td>
			  <td>{{ form.presion_sistolica.errors }}</td>
			</tr>

			<tr>
			  <td>{{ form.frecuencia_cardiaca.label }}</td>
			  <td>
				<div class='input-append'>
				  {{ form.frecuencia_cardiaca }} 
				  <span class='add-on'>ppm</span>
				</div>
			  </td>
			  <td>{{ form.frecuencia_cardiaca.errors   }}</td>
			</tr>
					
			<tr>
			  <td>{{ form.frecuencia_respiratoria.label }}</td>
			  <td>
				<div class='input-append'>
				  {{ form.frecuencia_respiratoria }} 
				  <span class='add-on'>rpm</span>
				</div>
			  </td>
			  <td>{{ form.frecuencia_respiratoria.errors }}</td>
			</tr>
					
			<tr>
			  <td>{{ form.saturacion_oxigeno.label }}</td>
			  <td>
				<div class='input-append'>
				  {{ form.saturacion_oxigeno }} 
				  <span class='add-on'>%</span>
				</div>
			  </td>
			  <td>{{ form.saturacion_oxigeno.errors }}</td>
			</tr>
					
			<tr>
			  <td>{{ form.avpu.label }}</td>
			  <td>{{ form.avpu }}</td>
			  <td>{{ form.avpu.errors }}</td>
			</tr>
			
			<tr>
			  <td>{{ form.intensidad_dolor.label }}</td>
			  <td>{{ form.intensidad_dolor }}</td>
			  <td>{{ form.intensidad_dolor.errors }}</td>
			</tr>	
			
            <tr>
              <td></td>
              <td>
                <input class="btn btn-primary" type="submit" value="Guardar" />
              </td>
            </tr>
          </table>
        </form>
	   </center>
    </div>
  </div> 
  
  <script>
	$("input[name=temperatura]").attr('value', '{{triage.signos_tmp}}'.replace(',', '.'));
	$("input[name=presion_diastolica]").attr('value', {{triage.signos_pb}});
	$("input[name=presion_sistolica]").attr('value', {{triage.signos_pa}});
	$("input[name=frecuencia_cardiaca]").attr('value', {{triage.signos_fc}});
	$("input[name=frecuencia_respiratoria]").attr('value', {{triage.signos_fr}});
	$("input[name=saturacion_oxigeno]").attr('value', {{triage.signos_saod}});
	$("input[name=avpu][value={{triage.signos_avpu}}]").attr('checked', true);
	$("#id_intensidad_dolor").val({{triage.signos_dolor}});
  </script>
  
{% endblock %}
