{% extends "base.html" %} 
{% block scripts %}
  <!--Datetime Picker -->
  <script type="text/javascript"
    src="/static/libs/datepicker/js/bootstrap-datetimepicker.min.js"></script>
  <link rel="stylesheet"
    href="/static/libs/datepicker/css/bootstrap-datetimepicker.min.css">
{% endblock %} 

{% block cuerpo %}
  <div class="row">
    <div class="cuadroGrande span12 centrar">
      <h4>Agregar Paciente</h4>
      <form id="formulario" 
            class="tablaAgregar" 
            method="post"
            action="/emergencia/agregar">
        {% csrf_token %}
        <table>
          {% for e in form %}
            <tr>
              {% if e.label == "FECHA Y HORA DE INGRESO" %}
                <td>
                {{e.label}}
                </td>
                <td>
                  <div id="ingreso_picker" 
                       class="input-append">
                    {{e}}
                    <span id="ahora" 
                          class="btn">Ahora
                    </span> 
                    <span  class="add-on">
                      <i data-time-icon="icon-time"
                         data-date-icon="icon-calendar"> 
                       </i>
                    </span>
                  </div>
                    <script type="text/javascript">
                      $(function() {
                        $('#ingreso_picker').datetimepicker({
                          language: 'pt-BR'
                        });
						
						// Se cierra el calendario al seleccionar fecha
						$('#ingreso_picker').on('changeDate', function(e) {
						  $('#ingreso_picker').datetimepicker('hide');
						});
                      });
                    </script>
                </td>
                <td>
                  {{e.errors}}
                </td> 
              {% elif e.label == "DOCUMENTO DE IDENTIDAD" %}
                <td>{{e.label}}</td>
                <td>
                  <select id="id_cedula1" 
                          name="dia" 
                          class = "width60"
                          onchange="cambioFecha()">
                    <option value='V'>
                      V
                    </option>
                    <option value='E'>
                      E
                    </option>
                    <option value='P'>
                      P
                    </option>
                  </select>
                  &nbsp;&nbsp;
                  <input id="id_cedula2" 
                         maxlength="9" 
                         name="cedula"
                         type="text" 
                         class = "width170"
                         onblur="documentoId()"
                         onkeypress="return justNumbers(event);" 
                   /> 
                   <input id="id_cedula"
                          maxlength="9" 
                          name="cedula" 
                          type="hidden" 
                   />
                </td>
                <td>
                  {{e.errors}}
                </td>
              {% elif e.label == "NOMBRE" %}
                <td>
                  {{e.label}}
                </td>
                <td>
                  <input id="id_nombres" 
                         maxlength="64" 
                         name="nombres"
                         type="text" 
                         onkeyup="this.value=this.value.toUpperCase()" 
                  />
                </td>
                <td>
                  {{e.errors}}
                </td> 
              {% elif e.label == "APELLIDO" %}
                <td>
                  {{e.label}}
                </td>
                <td>
                  <input id="id_apellidos" 
                         maxlength="64" 
                         name="apellidos"
                         type="text" 
                         onkeyup="this.value=this.value.toUpperCase()" 
                  />
                </td>
                <td>
                  {{e.errors}}
                </td> 
              {% elif e.label == "FECHA DE NACIMIENTO" %}
                <td></td>
                <td>
                  <span class="label label-info">
                    DIA
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="label label-info">
                    MES
                  </span>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <span class="label label-info">
                    AÑO
                  </span>
                  &nbsp;&nbsp;
                </td>
                <td></td>
            </tr>
              <tr>
                <td>
                  {{e.label}}
                </td>
                <td>
                  <select id="dia" 
                          name="dia" 
                          class = "width60"
                          onchange="cambioFecha()">
                  </select>
                  &nbsp;&nbsp; 
                  <select id="mes" 
                          name="mes" 
                          class = "width60"
                          onchange="cambioFecha()">
                  </select> 
                  &nbsp;&nbsp; 
                  <select id="ano" 
                          name="ano" 
                          class = "width80"
                          onchange="cambioFecha()">
                  </select> 
                  <input id="id_fecha_nacimiento" 
                         name="fecha_nacimiento"
                         type="hidden">
                </td>
                <td>
                  {{e.errors}}
                </td> 
              {% else %}
                <td>
                  {{e.label}}
                </td>
                <td>
                  {{e}}
                </td>
                <td>
                  {{e.errors}}
                </td> 
              {% endif %}
              </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td>
              <input class="btn btn-primary" 
                     type="submit"
                     value="Ingresar" 
              />
            </td>
            <td></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
 
{% block scripts2 %}
<script>
  function documentoId(){
    var tipo = $("#id_cedula1").val();
    var documento = $("#id_cedula2").val();
    if (documento != ""){
      $("#id_cedula").attr("value",tipo+"-"+documento);
    }else{
      $("#id_cedula").attr("value","");
    }
  }

  function justNumbers(e){
    var keynum = window.event ? window.event.keyCode : e.which;
    if ((keynum == 8) || (keynum == 46)) return true;   
    return /\d/.test(String.fromCharCode(keynum));
  }

  function cambioFecha(){
    var dia = $("#dia").val();
    var mes = $("#mes").val();
    var ano = $("#ano").val();
    $("#id_fecha_nacimiento").attr("value",dia+"/"+mes+"/"+ano);
  }

  $(document).ready(function() {  
	  $("#ahora").click(function() {
	    var currentTime = new Date();
	    var mes = currentTime.getMonth() + 1;
	    var dia = currentTime.getDate();
	    var año = currentTime.getFullYear();
	
	    var horas    = currentTime.getHours()
	    var minutos  = currentTime.getMinutes()
	    var segundos = currentTime.getSeconds()
	    $("#id_ingreso").val(dia + "/" + mes +"/" + año + " " + horas + ":" + 
	                         minutos+":"+segundos)});
  });   
   
  var dia  = 1,mes = 1,ano = 1990;
  $("#dia").html("<option value='nada'>--</option>");
  $("#dia > option[value='nada']").after("<option value='"+ 1 +"'>"+ 1 
                                        +"</option>");
  for (dia =2;dia<=31;dia++){
    $("#dia > option[value='" + (dia-1) +"']").after("<option value='" + dia 
     + "'>"+dia+"</option>");      
  }
  $("#mes").html("<option value='nada'>--</option>");
  $("#mes > option[value='nada']").after("<option value='"+1+"'>"+1+"</option>");
  for (mes =2;mes<=12;mes++){
    $("#mes > option[value='"+(mes-1)+"']").after("<option value='"+mes+"'>"+
                                                 mes+"</option>");      
  }
  var currentTime = new Date();
  $("#ano").html("<option value='nada'>--</option>");
  //alert(currentTime.getFullYear());
  $("#ano > option[value='nada']").after("<option value='" +
                                         currentTime.getFullYear() + "'>" +
                                         currentTime.getFullYear()+"</option>");
  for (ano =currentTime.getFullYear();ano>=1900;ano--){
    $("#ano > option[value='"+(ano+1)+"']").after("<option value='" + ano +
                                                  "'>"+ano+"</option>");
  }

</script>
{% endblock %}
