<script>
  function envia1(pag){
      var formu = $('#formENFA').serialize();
      $.post(pag,formu,function(data){
          $("#dEnf").html(data);
      });
  }
  $(document).ready(
      function(){
          $('#id_narrativa').addClass("field span5");
      });
</script>

{% if "Exitosamente" in mensaje %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{mensaje}}
  </div>
{% elif "nombre" in mensaje %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{mensaje}}
  </div>
{% elif "Ya" in mensaje %}
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{mensaje}}
  </div>
{% endif %}

<!-- FORMULARIO PARA enf actual -->
<div id="hola1">
  <form id="formENFA" method="post" action="">
    {% csrf_token %}
    <fieldset>
      <center>
        <legend></legend>
      </center>
      <center>
        {{ form.as_p }}
      </center>
    </fieldset>
  </form>
</div>
{% if ya == 'si' %}
  <center>
    <button class="btn btn-mini btn-primary"
            onClick="envia1('/emergencia/enf_actual/{{emergencia.id}}')">
      <i class="icon-edit icon-white"></i>
      Modificar
    </button>
  </center>
{% else %}
  <center>
    <button class="btn btn-mini btn-primary"
            onClick="envia1('/emergencia/enf_actual/{{emergencia.id}}')">
      <i class="icon-plus icon-white"></i>
      Agregar
    </button>
  </center>
{% endif %}
