<!DOCTYPE html>
<html lang="es">
<head>
  <title>Atenci&oacute;n M&eacute;dica</title>
  
  <!-- jQuery -->
  <script type="text/javascript" src="/static/libs/js/jquery.min.js"></script>
  
  <!-- Bootstrap -->
    <link rel="stylesheet"
        href="/static/libs/bootstrap3/css/bootstrap.min.css">
    <script type="text/javascript"
        src="/static/libs/bootstrap3/js/bootstrap.min.js"></script>
  
  <!-- Propios -->
  <link rel="stylesheet" href="/static/css/estilo.css">
  <link rel="stylesheet" href="/static/css/masEstilos.css">
  <link type="image/x-icon" href="/static/img/icono.ico" rel="icon" />
  {% block estilos %}
  {% endblock %}
  
  {% block scripts %}
  
  {% endblock %}
  
  <script>
      {% block en_scripts %}
      {% endblock %}
  </script>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% comment %}
    <div id="lista" class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner fontsize16">
            <div class="container">
                <a   class="btn btn-navbar" 
                    data-toggle="collapse"
                    data-target=".nav-collapse"> 
                    <span class="icon-bar"></span>
                    <span  class="icon-bar"></span> 
                    <span class="icon-bar"></span>
                </a> 
                <a class="brand" href="/">
                    <img src="/static/img/logo.png"
                    class = " marginleft5 width40 height40" 
                    />
                </a>
                <div class="nav-collapse"> 
                    <ul class="nav">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a   href="#" class="dropdown-toggle"
                                    data-toggle="dropdown">
                                    Paciente
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/emergencia/agregar">Agregar</a>
                                    </li>
                                    <li class="nav-header">Buscar</li>
                                        <li>
                                        <a href="/emergencia/buscar"> &nbsp;&nbsp;&nbsp;&nbsp;Buscar Viejo</a>
                                        </li>
                                        <li>
                                        <a href="{% url 'buscar_por_cedula' %}"> &nbsp;&nbsp;&nbsp;&nbsp;Buscar por Cedula</a>
                                        </li>
                                        <li>
                                        <a href="{% url 'buscar_por_nombre' %}"> &nbsp;&nbsp;&nbsp;&nbsp;Buscar por Nombre</a>
                                        </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a   href="#" class="dropdown-toggle"
                                    data-toggle="dropdown">
                                    Listas
                                    <b class="caret"></b>
                                    </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/emergencia/listar/todas">Listado General</a>
                                    </li>
                                    <li>
                                        <a href="/emergencia/listar/cubiculos">Cubiculos Asignados</a>
                                    </li>
                                    <li class="nav-header">Listado por área</li>
                                        <li>
                                        <a href="/emergencia/listar/triage">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            Área de Triage
                                        </a>
                                        </li>
                                    <li>
                                        <a href="/emergencia/listar/sinclasificar">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Pacientes por Clasificar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/emergencia/listar/clasificados">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Pacientes Clasificados, no Atendidos
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/emergencia/listar/atencion">
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            Área de Atención
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/emergencia/listar/observacion">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            Área de Observación
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/emergencia/listar/ambulatoria">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Área de Atención Ambulatoria
                                        </a>
                                    </li>
                                </ul>
                            </li> 
                            {% if user.is_staff %}
                                <li class="dropdown">
                                    <a  href="#" 
                                        class="dropdown-toggle"
                                        data-toggle="dropdown">
                                        Usuarios
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="/usuario/crear">Crear</a>
                                        </li>
                                        <li>
                                            <a href="/usuario/listar">Listar</a>
                                        </li>
                                        <li>
                                            <a href="/usuario/pendientes">Pendientes</a>
                                        </li>
                                    </ul>
                                </li> 
                            {% endif %}
                            <li class="dropdown">
                                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </h3>
                            </li>
                            <li class="dropdown">
                                <h3 class="tit-list"></h3>
                            </li> 
                        {% else %}
                            <li>
                                <a href="/emergencia/buscar">Paciente</a>
                            </li>
                            <li>
                                <a href="/emergencia/listar/todas">Ver emergencias</a>
                            </li>
                            <li class="dropdown">
                                <a  href="#" class="dropdown-toggle"
                                    data-toggle="dropdown">
                                    Listas por Categoría
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/emergencia/listar/todas">
                                            Pacientes en Emergencia
                                        </a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li class="nav-header">Por área
                                    </li>
                                    <li>
                                        <a href="/emergencia/listar/triage">
                                            Pacientes en Triage
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/emergencia/listar/atencion">
                                            Pacientes en Atención
                                        </a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li class="nav-header">
                                        Subáreas de Triage
                                    </li>
                                    <li>  
                                        <a href="/emergencia/listar/sinclasificar"> 
                                            Pacientes sin Clasificar
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/emergencia/listar/clasificados">
                                            Pacientes Clasificados, no Atendidos
                                        </a>
                                    </li>
                                </ul>
                            </li> 
                        {% endif %}
                    </ul>
                </div>
                {% if user.is_authenticated %}
                    <div class="usuario navbar-form pull-right">
                        {{user}} 
                        (<a href="/sesion/cerrar">Cerrar sesión</a>)
                    </div>
                {% else %}
                    <form method='POST' 
                        action="/sesion/iniciar/"
                        class="navbar-form pull-right">
                        {% csrf_token %}
                        {{ form.unombre }} 
                        {{ form.uclave }} 
                        <input  class="btn btn-primary" 
                                type="submit"
                                value="Iniciar Sesi&oacute;n" />
                        <br> 
                        <a href="/usuario/restablecer">Recuperar clave</a> 
                            |
                        <a href="/usuario/solicitar">Solicitar cuenta</a>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
    {% endcomment %}
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Navegación</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">
            <img src="/static/img/logo.png" class="brand-image">
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        {% if user.is_authenticated %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pacientes<span class="caret"></span></a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li><a href="/emergencia/agregar">Agregar Paciente</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">Buscar</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="{% url 'buscar_por_cedula' %}">
                                    Buscar por Cédula
                                </a>
                            </li>
                            <li>
                                <a tabindex="-1" href="{% url 'buscar_por_nombre' %}">
                                    Buscar por Nombre
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        {% else %}
            <li>
                <a href="/emergencia/buscar">Paciente</a>
            </li>
            <li>
                <a href="/emergencia/listar/todas">Ver emergencias</a>
            </li>
        {% endif %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Listas<span class="caret"></span>
                </a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a href="/emergencia/listar/todas">Listado General</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                      <a href="/emergencia/listar/cubiculos">Cubiculos Asignados</a>
                    </li>
                    <li class="divider"></li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="/emergencia/listar/triage">
                            Área de Triage
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a tabindex="-1" href="/emergencia/listar/sinclasificar">
                                    Pacientes por Clasificar
                                </a>
                            </li>
                            <li>
                                <a tabindex="-1" href="/emergencia/listar/clasificados">
                                    Pacientes Clasificados, no Atendidos
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a  tabindex="-1" href="/emergencia/listar/atencion">
                            Área de Atención
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/emergencia/listar/observacion">
                                    Área de Observación
                                </a>
                            </li>
                            <li>
                                <a href="/emergencia/listar/ambulatoria">
                                    Área de Atención Ambulatoria
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            {% if user.is_staff %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Usuarios<span class="caret"></span>
                </a>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                    <li>
                        <a href="/usuario/crear">Crear</a>
                    </li>
                    <li>
                        <a href="/usuario/listar">Listar</a>
                    </li>
                    <li>
                        <a href="/usuario/pendientes">Pendientes</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{user}}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/sesion/cerrar">Cerrar sesión</a></li>
            </ul>

        </li>
        {% else %}
        <form class="navbar-form form-inline navbar-left" method='POST' action="/sesion/iniciar/">
            {% csrf_token %}
            <div class="form-group">
                
                    <input id="id_unombre" class="form-control top5" maxlength="64" name="unombre" placeholder="Cedula de identidad:" type="text">
            </div>
            <div class="form-group">
                
                    <input id="id_uclave" class="form-control top5" maxlength="32" name="uclave" placeholder="Clave:" type="password">
            </div> 
            <button type="submit" class="btn btn-primary top5">Iniciar Sesión</button>
        </form>
            <li class="dropdown">
                <a role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Opciones<span class="caret"></span>
                </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="/usuario/restablecer">Recuperar clave</a></li>
                <li><a href="/usuario/solicitar">Solicitar cuenta</a></li>
            </ul>

        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div id="cuerpo" class="container">
        {% if msj_info %}
          <div class="row">
            <div id="mensaje" class="span12 alert alert-{{msj_tipo}}">
              {{msj_info}}
            </div>
          </div>
        {% endif %} 
    
        {% if not user.is_authenticated %}

            <h3 class="tit-list"></h3>
        {% endif %} 
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{ message | safe }}
        </div>
        {% endfor %}
        {% endif %}
        {% block cuerpo %} 
        {% endblock %} 

        <br />
    </div>
    <div class="footer">
        <div class="container">
            <p class="muted credit">
                MEDMATRIC. VERSION 2.0. Derechos reservados
            <p class="muted credit">&reg; Pagina desarrollada en la 
                <a href="http://www.usb.ve/"> Universidad Sim&oacute;n Bol&iacute;var</a> 
                para el 
                <a href="http://www.centromedicodecaracas.com.ve/">Centro M&eacute;dico de Caracas </a>.
            </p>
        </div>
    </div>

  
  {% block scripts2 %} 
  {% endblock %}
  
</body>

</html>

