{% extends "base.html" %}
{% block cuerpo %}
{% if mensaje %}
  {{ mensaje }}
{% endif %}
<div class="container row">
  <div class="span12">
    <h4>{{titulo}}</h4>
    <form class= "tablaAgregar" method="post">
      {% csrf_token %}
      <table>
      {% for field in busqueda %}
        <tr>
          <td>{{field.label}}</td>
          <td>{{field}}</td>
          <td>{{field.errors}}</td>
        </tr>
      {% endfor %}
  <tr>
    <td></td>
    <td><input class="btn btn-primary" type="submit" value="{{boton}}" /></td>
  </tr>
      </table>
    </form>
  </div>
</div>
{% endblock %}
