{% extends "base.html" %} 
{% load bootstrap %}
{% block cuerpo %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <center>
        <h3>
          Editar Perfil
        </h3>
        
        <form class="" 
              method="post"
              action="/paciente/{{paciente.pk}}/editar">
          {% csrf_token %}
         {% comment %}
          <table>         
            <tr>
              <td><font size=5><B> Paciente </B></font></td>
              <td></td>
				<td>
					<font size=4 style="text-transform: uppercase;">
						<strong>{{paciente.nombres}}</strong></font>
					<font size=4 style="text-transform: uppercase;">
						<strong>{{paciente.apellidos}}</strong></font>
				</td>
            </tr>
            <tr> <br><br> <td> <br><br> </td> </tr>
		
			<tr>
				<td>C&eacute;dula</td>
				<td></td>
				<td><input type="text" name="cedula" value="{{paciente.cedula}}"/></td>
				
				<td>
					<span class="msj-error"> 
						<font color="red">{{form.cedula.errors}}</font>
					</span>
				</td>
			</tr>
      
            <tr>
				<td>Nombres</td>
				<td></td>
				<td><input type="text" name="nombres" value="{{paciente.nombres}}"/></td>
				<td>
					<span class="msj-error"> 
						<font color="red">{{form.nombres.errors}}</font>
					</span>
				</td>
            </tr>
            
            <tr>
				<td>Apellidos</td>
				<td></td>
				<td><input type="text" name="apellidos" value="{{paciente.apellidos}}"/></td>
				<td>
					<span class="msj-error"> 
						<font color="red">{{form.apellidos.errors}}</font> 
					</span>
				</td>
            </tr>                                                                 
            
            <tr>
				<td>Correo</td>
				<td></td>
				<td><input type="text" name="email" size="35" value="{{paciente.email}}"/></td>
				<td>
					<span class="msj-error"> 
						<font color="red">{{form.email.errors}}</font> 
					</span>
				</td>
            </tr>
             
            
            <tr>
              <td></td>
              <td>
                <input class="btn btn-primary" type="submit" value="Guardar" />
              </td>
            </tr>
          </table>
         {% endcomment %}
         <div class="col-md-12 top20">{{ form.cedula|bootstrap_horizontal }}</div>
         <div class="col-md-12 top20">{{ form.nombres|bootstrap_horizontal }}</div>
         <div class="col-md-12 top20">{{ form.apellidos|bootstrap_horizontal }}</div>
         <div class="col-md-12 top20">{{ form.email|bootstrap_horizontal }}</div>
			<input class="btn btn-primary top20" type="submit" value="Guardar" />
        </form>
    </div>
  </div> 
  
{% endblock %}
