{% extends "base.html" %}
{% block cuerpo %}
  {% if mensaje %}
    {{mensaje}}
  {% endif %}
  <div class="row">
    <div class="cuadroGrande centrar span12">
    <div class="titulo">
      Lista de Pacientes
    </div>
    <table class=class="table table-bordered table-striped">
      <tr>
        <th>C&eacute;dula de Identidad</th>
        <th>Nombre Paciente</th>
        <th>Sexo</th>
        <th>Edad</th>
        <th>Estado Emergencia</th>
      </tr>
      {% for l in listaP %}
        <tr>
          <td>
            <span class="nombreLista">
              {{l.cedula}}
            </span>
          </td>
          <td>
            <span class="nombreLista">
              {{l}}
            </span>
          </td>
          <td>
            <span class="nombreLista">
              {{l.sexoR}}
            </span>
          </td>
          <td>
            <span class="nombreLista">{
              {l.edad}}
            </span>
          </td>
          {% if l.hora_egreso != null %}
            <td> 
              Atendida 
            </td>
          {% else %}
            <td class = "activa"> 
              Activa 
            </td>
          {% endif %}
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
