{% extends "base.html" %}
{% block cuerpo %}
  <div class="row  text-center">
    <div class="botones">    
      <div class="col-md-3">
        <a href="/emergencia/agregar"class="btn">  
          <img src="/static/img/menus/agregar.png" />
          <h5>INGRESO</h5>
        </a>
      </div>
      <div class="col-md-3 color">
        <a href="/emergencia/listar/todas" class="btn">
          <img src="/static/img/menus/triage.png" />
          <h5>LISTADOS</h5>
        </a>
      </div>
      <div class="col-md-3 color" disabled>
        <a href="/emergencia/buscarHistoria"class="btn disabled">
          <img src="/static/img/menus/atencion.png" />
          <h5>HISTORIA M&Eacute;DICA</h5>
        </a>
      </div>
      <div class="col-md-3 color">
        <a href="/estadisticas"class="btn">
          <img src="/static/img/menus/estadisticas.png" />
          <h5>ESTAD&Iacute;STICAS</h5>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
