{% extends "base.html" %}
{% block cuerpo %}
  {% if mensaje %}
    {{ mensaje }}
  {% endif %}
  <div class="container row">
    <div class="span12">
      <h4>Restablecer Clave</h4>
      <form class= "tablaAgregar" method="post" action="/usuario/restablecer">
        {% csrf_token %}
        <table>
          <tr>
            <td>Cuenta de Correo</td>
            <td>{{form.correo}}</td>
          </tr>
          <tr>
            <td></td>
            <td>
              <input class="btn btn-primary" 
                     type="submit" 
                     value="Enviar Solicitud" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
{% endblock %}