.fontWeightNormal{
  font-weight: normal;  
}

.fontWeightBold{
  font-weight: bold;  
}

.width140{
	width: 140px;
}

.width60{
  width: 60px;
}

.width80{
  width: 80px;
}

.width110{
  width: 110px;
}

.width150{
  width: 150px;
}

.width170{
  width: 170px;
}

.width120{
  width: 120px;
}

.width40{
  width: 40px;
}

.width200{
  width: 200px;
}

.width250{
  width: 250px;
}

.width350{
  width: 350px;
}

.width400{
  width: 400px;
}

.width440{
  width: 440px;
}

.width480{
  width: 480px;
}


.width{
  width: px;
}


.width{
  width: px;
}


.height12{
	height: 12px;
}

.height40{
  height: 40px;
}

.height300{
  height: 300px;
}

.height350{
  height: 350px;
}

.height400{
  height: 400px;
}

.height{
  height: px;
}

.padding2{
  padding: 2px;
}

.red{
  color: red;
	
}

.azul{
  color: #006699;
}

.fondoRojo{
	background: rgba(0, 0, 0, 0.05);
}

.overflow{
  OVERFLOW:auto;	
}

.displayNone{
  display: none;
}

.marginleft5{
  margin-left: 5px;	
}

.textdecorationoverline{
  text-decoration:overline;
}

.estadisticas{
    min-width: 1170px;
    height: 400px;
    margin: 0 auto;
}

.fontsize22{
  font-size: 22px;
}

.{

	
}

.{

	
}

.{

	
}

.{

	
}

.{

	
}