.cubi:hover, .imagenIcono{
  cursor: pointer;
}

.boton-espera:hover
{
  cursor:pointer;
}

.boton-mantener{
  float: right;
}
.causas-espera
{
  background-color: white;
  border: 2px solid;
  border-radius: 10px;
  display: none;
  font-size: 18px;
  margin: 40px 0 0 0;
  position: absolute;
  z-index: 1;
}

/* Estos son los estilos que definen una caja con una pequeña flecha */
.caja-dialogo {
  position: absolute;
  background: #ffffff; 
  border: 2px solid #000000; 
} 

.caja-dialogo:after, .caja-dialogo:before {
  bottom: 100%; 
  left: 50%; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  pointer-events: none; 
} 

.caja-dialogo:after {
  border-color: rgba(255, 255, 255, 0); 
  border-bottom-color: #ffffff; 
  border-width: 20px; 
  margin-left: -230px; 
} 

.caja-dialogo:before {
  border-color: rgba(0, 0, 0, 0); 
  border-bottom-color: #000000; 
  border-width: 23px; margin-left: -233px; 
}
/* Fin de la definicion de la caja */

.columna-esperas {
  width: 300px;
}

.encabezado-lista {
  font-weight: lighter !important;
}

.imagen-espera-lista {
  padding: 0 5px 0 10px;
}

.imagen-espera-td{
  width: 50px;
}

.nombreLista {
  font-weight: lighter;
  text-transform: uppercase;
}

.opcion-cubiculo {
  font-size: 15px;
}

.select-cubiculos {
  -moz-appearance: none;
  font-size: 30px;
  height: 50px;
  text-indent: 1px;
  text-overflow: '';
  width: auto;
}

.s2 {
  width:25px;
}

span.espera:link, span.espera:visited, span.espera:active 
{ 
  text-decoration: none 
}

.tabla-esperas{
  margin-top: 30px;
}

.tdTriage img{
  margin-left: 5px;
  width: 30px;
}

.tit-list{
  font-weight: lighter;
}

.titulo-esperas{
  font-size: 16px;
  padding: 10px 20px 0 20px;
}
