span.espera:link, span.espera:visited, span.espera:active 
{ 
  text-decoration: none 
}
.s1 {
  width:57px;
}
.s2 {
  width:25px;
}

.nombreLista {
  text-transform: uppercase;
}

.cubi:hover, .imagenIcono{
  cursor: pointer;
}

.boton-espera
{
  /* Colocar texto en negritas */
}
.causas-espera
{
  background-color: white;
  border: 2px solid;
  border-radius: 10px;
  display: none;
  font-size: 18px;
  position: absolute;
  z-index: 1;
}

.imagen-espera-lista
{
  padding: 0 5px 0 10px;
}

.titulo-esperas
{
  font-size: 16px;
  padding: 10px 20px 0 20px;
}
