{% extends "base.html" %}
{% block cuerpo %}
  {% if mensaje %}
    {{mensaje}} 
  {% endif %}
  <link rel="stylesheet" 
        type="text/css" 
        href="/static/css/Atencion/estiloIcon.css"
  />
  <link rel="stylesheet" 
        type="text/css"
        href="/static/css/Atencion/atencion.css" 
  />
  <script src="/static/css/Atencion/spin.min.js"> 
  </script>
  <script src="/static/scripts/atencion.js"> 
  </script>
  <script>
    $(document).ready(function () {
      var emer = '{{emergencia.id}}';
      loadAtencion(emer);
      $("[rel='tooltip']").tooltip();
    });
  </script>
  <div class="container row">
    <div class="span3">
      <div class="well well-small">
        <h4>Paciente</h4>
  
        <dl>
          <dt>
            <b>Nombre:</b>
          </dt>
          <dd>
            {{ emergencia.paciente }}
          </dd>
          <dt>
            <b>Sexo:</b>
          </dt>
          <dd>
            {{ emergencia.paciente.sexoR}}
          </dd>
          <dt>
            <b>Responsable:</b>
          </dt>
          <dd>
            {{ emergencia.responsable}}
          </dd>
          <dt>
            <b>Hora de ingreso:</b>
          </dt>
          <dd>
            {{ emergencia.horaR}}
          </dd>
          <dt>
            <b>Motivo de consulta:</b>
          </dt>
          <dd>
            {{ triage.motivo.nombre}}
          </dd>
        </dl>
        <hr>
        <h4 class="info">
          Signos Vitales
        </h4>
        <dl>
          <dt>
            Temperatura:&nbsp&nbsp
            <span class= "fontWeightNormal">
              {{triage.emergencia.paciente.signos_tmp }}
            </span>
          </dt>
          <dt>
            Frecu. Cardiaca:&nbsp&nbsp
            <span class= "fontWeightNormal";>
              {{triage.emergencia.paciente.signos_fc }}
            </span>
          </dt>
          <dt>
            Tension Arterial:&nbsp&nbsp
            <span class= "fontWeightNormal" >
              {{ triage.emergencia.paciente.signos_ta }}
            </span>
          </dt>
          <dt>
            Fr:&nbsp&nbsp
            <span class= "fontWeightNormal">
              {{triage.emergencia.paciente.signos_fr }}
            </span>
          </dt>
          <dt>
            Saod:&nbsp&nbsp
            <span class= "fontWeightNormal">
              {{ triage.emergencia.paciente.signos_saod }}
              </span>
          </dt>
          <dt>
            rmotora:&nbsp&nbsp
              <span class= "fontWeightNormal">
                {{ triage.signos_rmotora }}
              </span>
          </dt>
          <dt>
            rocular:&nbsp&nbsp
            <span class= "fontWeightNormal">
              {{ triage.signos_rocular }}
            </span>
          </dt>
          <dt>
            rverbal:&nbsp&nbsp
            <span class= "fontWeightNormal">
              {{ triage.signos_rverbal }}
            </span>
          </dt>
          <dt>
            Dolor:&nbsp&nbsp
            <span class= "fontWeightNormal">
              {{ triage.emergencia.paciente.signos_dolor }}
            </span>
          </dt>
        </dl>
        <center>
          <button class="btn btn-info btn-mini"
            onclick="location='/paciente/{{emergencia.id}}'">
            Actualizar
          </button>
        </center>
  
      </div>
      <!--Cierra wellsmall-->
  
      <center>
        <div class="btn-group">
          <button class="btn button btn-large"
                  onclick="location='/emergencia/descarga/{{emergencia.id}}/historia'"
                  rel="tooltip"
                  data-toggle="tooltip"
                  data-original-title="Historia Médica">
            <a href="#" data-icon="&#xe007;">
            </a>
          </button>
          <button class="btn button btn-large"
                  onclick="location='/emergencia/descarga/{{emergencia.id}}/constancia'"
                  rel="tooltip" 
                  data-toggle="tooltip"
                  data-original-title="Constancia Atenci&oacute;n">
            <a href="#" data-icon="&#xe008;">
            </a>
          </button>
          <button class="btn button btn-large"
                  onclick="location='/emergencia/descarga/{{emergencia.id}}/reportInd'"
                  rel="tooltip" 
                  data-toggle="tooltip"
                  data-original-title="Reporte Indicaciones">
            <a href="#" data-icon="&#xe009;">
            </a>
          </button>
        </div>
        <!-- Cierra botones -->
      </center>
    </div>
    <!-- Cierra span3-->
  
    <div class="span8">
      <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active">
            <a id='aEnf' href="#Enf" data-toggle="tab">
              Enfermedad
              Actual
            </a>
          </li>
          <li>
            <a id='aAnt' 
               href="#Ant" 
               data-toggle="tab">
              Antecedentes
            </a>
          </li>
          <li>
            <a id='aEfis' 
               href="#Efis" 
               data-toggle="tab">
              Examen
              F&iacute;sico
            </a>
          </li>
          <li>
            <a id='aInd' 
               href="#Ind" 
               data-toggle="tab">
              Indicaciones
            </a>
          </li>
          <li>
            <a id='aDiag' 
               href="#Diag" 
               data-toggle="tab">
              Diagn&oacute;stico
              Definitivo
            </a>
          </li>
        </ul>
  
        <div class="tab-content">
          <div class="tab-pane active" 
               id="Enf">
            <div id="dEnf"></div>
          </div>
  
          <div class="tab-pane" 
               id="Ant">
            <div id='Ant2' 
                 class='span2'>
            </div>
            <div id="Dant" 
                 class='span5'>
            </div>
          </div>
  
          <div class="tab-pane" 
               id="Efis">
          </div>
  
          <div class="tab-pane" 
               id="Ind">
            <div id="d_But">
            </div>
            <div id="d_Ind">
            </div>
          </div>
  
          <div class="tab-pane" 
               id="Diag">
            <div id="dDiag">
            </div>
          </div>
        </div>
        <!--cierra tab-content-->
      </div>
      <!--cierra tabbable-->
    </div>
    <!--cierra span8-->
  </div>
  <!--cierra container-->
{% endblock %}
