
<script>
  function envia1(pag){
      var formu = $('#formLIST').serialize();
      $.post(pag,formu,function(data){
        $("#d_Ind").html(data);
      });
  }
  function envia3(pag){
    $(".infoE").load(pag);
  }
  $(document).ready(function(){
    // Para habilitar el dropdown y el tooltip
    $('.dropdown-toggle').dropdown();
    $("[rel='tooltip']").tooltip();
    
    // Mantener oculta la fila de info extra
    
    $("#report tr:odd").addClass("odd");
    $("#report tr:not(.odd)").hide();
    $("#report tr:first-child").show();
    // Mostrar la fila de info extra
    $(".arrow").click(function(){
      $(this).parents("tr").next("tr").toggle();
      $(this).toggleClass("up");
    });
  
  });
</script>

{% if "Exitosamente" in mensaje %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{mensaje}}
  </div>
  
{% elif "nombre" in mensaje %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{mensaje}}
  </div>
{% endif %}

<form id="formLIST" method="post" action="">
  {% csrf_token %}
  <center>
    <div id="report" class = "height300 overflow" >
      <table id="tLIST" class="table table-bordered table-hover">
        <caption>
          <p class="lead">
            Indicaciones No Completadas
          </p>
        </caption>
        <thead>
          <tr class="btn-info ">
            <th>
              <center>
                <a rel="tooltip" data-toggle="tooltip"
                  data-original-title="Marcar como Completado" href="#"><i
                  class="icon-ok icon-white"></i></a>
              </center>
            </th>
            <th>
              <center>Hora</center>
            </th>
            <th>
              <center>Tipo</center>
            </th>
            <th>
              <center>Nombre</center>
            </th>
            <th>
              <center>
                <a rel="tooltip" data-toggle="tooltip"
                  data-original-title="Informaci&oacute;n Adicional" href="#"><i
                  class="icon-info-sign icon-white"></i></a>
              </center>
            </th>

          </tr>
        </thead>
        <tbody>
          {% for i in indicaciones %}
            <tr>
              <td>
                <center>
                  <input type="checkbox" name="check" value="{{i.id}}" />
                </center>
              </td>
              <td>
                <center>
                  <p class = "width150 height12" >
                    {{i.horaA}}
                  </p>
                </center>
              </td>
              <td>
                <center>
                  {% if i.indicacion.tipo == 'dieta'%}
                   <p class = "width60 height12" >
                     Dieta
                   </p>
                  
                  {% elif i.indicacion.tipo == 'hidrata'%}
                    <p class = "width60 height12" >
                      Hidrataci&oacute;n
                    </p>
                  
                  {% elif i.indicacion.tipo == 'medicamento'%}
                    <p class = "width60 height12" >
                      Medicamento
                    </p>
                  
                  {% elif i.indicacion.tipo == 'lab' or i.indicacion.tipo ==
                  'imagen' or i.indicacion.tipo == 'endoscopico' or
                  i.indicacion.tipo == 'valora' or i.indicacion.tipo == 'otros'%}
                    <p class = "width60 height12" >
                      Diagn&oacute;stico
                    </p>
  
                  {% elif i.indicacion.tipo == 'terapeutico'%}
                  <p class = "width60 height12" >
                    Terap&eacute;utico
                  </p>
                  {% endif %}
                </center>
              </td>
              <td>
                <center>
                  <p class = "width250 height12" >
                    {{i.indicacion.nombre}}
                  </p>
                </center>
              </td>
              <td>
                <center>
                  <div class="arrow"
                    onClick="envia3('/emergencia/infoInd/{{i.id}}/{{i.indicacion.tipo}}')">
                  </div>
                </center>
              </td>
            </tr>
            <tr class="extraINFO">
              <td colspan="5">
                <div class="infoE"></div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </center>
  <br>
</form>
<center>
  <div class="btn-group">
    <button class="btn btn-mini btn-primary"
            onClick="envia1('/emergencia/indicaciones/{{emergencia.id}}/normal/eliminar')">
      <i class="icon-ok-sign icon-white"></i>
      &nbsp;
      Cambiar Status
    </button>
  </div>

  <!-- <div class="btn-group dropup">
    <button class="btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown">
      <i class="icon-edit icon-white"></i>
      Modificar
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      <li>
        <a tabindex="-1" href="#">Dietas</a>
      </li>
      <li>
        <a tabindex="-1" href="#">Hidrataci&oacute;n</a>
      </li>
      <li>
        <a tabindex="-1" href="#">Medicamentos</a>
      </li>
      <li>
        <a tabindex="-1" href="#">Terapeuticos</a>
      </li>
      <li>
        <a tabindex="-1" href="#">Laboratorio</a>
      </li>
    </ul>
  </div> -->
</center>