{% if "Exitosamente" in mensaje %}
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{mensaje}}
  </div>
{% elif "nombre" in mensaje %}
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">
      &times;
    </button>
    {{mensaje}}
  </div>
{% endif %}

<script>
  function envia1(pag){
      var formu = $('#formMED').serialize();
      $.post(pag,formu,function(data){
        $("#d_Ind").html(data);
      });
  }
  
  function CompruebaCampo(obj){
    if ($(obj).parents("tr").hasClass("ultimo")){
      
      var ultimo = $(".ultimo:last");
      var extra = $(".ultimo2:last");
      var clon = ultimo.clone();
      var clon_ex = extra.clone();
  
      ultimo.removeClass("ultimo");
      extra.removeClass("ultimo2");
  
      clon.insertAfter(extra);
      clon_ex.insertAfter(clon);
  
      // Para setear los valores de los nuevos inputs en vacio
      $("tr.ultimo:last td center input[type='text']").prop("value","");
  
      // Para setear los valores de los nuevos inputs en vacio: extra
      $("tr.extra:last td center input[type='text']").prop("value","");
  
      // Para setear los valores de los nuevos selects en vacio
      $("tr.ultimo:last td center select").prop('selectedIndex', -1);
      }
    }
  
  function agregaExtra(obj){
      var extra = $(obj).parents("tr").next("tr#extra");
    var opcion = $(obj).find("option:selected").val();
    if (opcion == "sos"){
      $(extra).show();
    }
    else{
      $(extra).hide();
    }
      
  }
  
  $(document).ready(
      function(){
        // Para que setee en blanco las opciones del nuevo renglon, con attb no funciona
        $("select#s1,select#s2,select#s3").prop('selectedIndex', -1);
        $("[rel='tooltip']").tooltip();
    });
</script>

<form id="formMED" method="post" action="">
  {% csrf_token %}
  <center>
    <div id="tablaMed" class = "height400 overflow" >
      <table id="tabMed" class="table table-bordered">
        <caption>
          <p class="lead">
            Indicaciones de Medicamentos
          </p>
        </caption>
        <thread>
        <tr class="btn-info">
          <th>
            <center>Hora</center>
          </th>
          <th>
            <center>Medicamento</center>
          </th>
          <th colspan="2">
            <center>Dosis</center>
          </th>
          <th>
            <center>Frecuencia</center>
          </th>
          <th>
            <center>Tipo de Frecuencia</center>
          </th>
          <th>
            <center>V&iacute;a Administraci&oacute;n</center>
          </th>
        </tr>
        </thread>
        <tbody>
          {% for i in indicaciones %}
            <tr class="well">
              <td>
                <center>
                  <p>{{i.horaA}}</p>
                </center>
              </td>
              <td>
                <center>
                  <input type="text" 
                         name="{{i.id}}nombre"
                         value="{{i.indicacion.nombre}}" 
                         class = "width100" >
                </center>
              </td>
              <td>
                <center>
                  <input type="text" 
                         name="{{i.id}}dosis" 
                         value="{{i.med_Dosis}}"
                         class = "width50" >
                </center>
              </td>
              <td>
                {% if i.med_Conc != '' %} 
                  <script>
                  var valor = "{{i.med_Conc}}";
                  $("select#{{i.id}}conc").val(valor);
                  </script> 
                {% endif %} 
                  <select id="{{i.id}}conc" name="{{i.id}}conc" class="s1">
                    <option value="cc">
                      cc
                    </option>  
                    <option value="gr">
                      gr
                    </option>  
                    <option value="mg">
                      mg
                    </option>  
                    <option value="u">
                      u
                    </option>  
                  </select>
              </td>
              <td>
                <center>
                  <input type="text" 
                         name="{{i.id}}frec" 
                         value="{{i.med_Frec}}"
                         class = "width100" >
                </center>
              </td>
              <td>
                <center>
                  {% if i.med_TFrec != '' %}
                    <script>
                      var valor = "{{i.med_TFrec}}";
                      $("select#{{i.id}}tfrec").val(valor);
                    </script>
                  {% endif %} 
                  <select id="{{i.id}}tfrec" 
                          class="s2"
                          name="{{i.id}}t_frec">
                    <option value="fijo">
                      Fijo
                    </option>
                    <option value="sos">
                      SOS
                    </option>
                  </select>
                </center>
              </td>
              <td>
                <center>
                  {% if i.med_Viad != '' %}
                    <script>
                      var valor = "{{i.med_Viad}}";
                      $("select#{{i.id}}via").val(valor);
                   </script>
                  {% endif %} 
                  <select id="{{i.id}}via" 
                          class="s3"
                          name="{{i.id}}via_adm">
                    <option value="endov">
                      Endovenosa
                    </option>
                    <option value="neb">
                      Nebulizaci&oacute;n
                    </option>
                    <option value="oral">
                      Oral
                    </option>
                    <option value="rect">
                      Rectal
                    </option>
                    <option value="subc">
                      Subcut&aacute;nea
                    </option>
                    <option value="top">
                      T&oacute;pica
                    </option>
                  </select>
                </center>
              </td>
            </tr>
          {% endfor %}
          <tr class="ultimo">
            <td>
            </td>
            <td>
              <center>
                <input type="text" 
                       name="nuevaMed" 
                       value=""
                       onChange="CompruebaCampo(this)" 
                       class = "width100" >
              </center>
            </td>
            <td id="rem2">
              <center>
                <input type="text" 
                       name="nuevaDosis" 
                       value=""
                       class = "width50" >
              </center>
            </td>
            <td id="rem">
              <select class="s1" id="s1" name="nuevoTC">
                <option value="cc">
                  cc
                </option>
                <option value="gr">
                  gr
                </option>
                <option value="mg">
                  mg
                </option>
                <option value="u">
                  u
                </option>
              </select>
            </td>
            <td>
              <center>
                <input type="text" 
                       name="nuevaFrec" 
                       value=""
                       class = "width100" >
              </center>
            </td>
            <td>
              <center>
                <select class="s2" 
                        id="s2" 
                        name="nuevoTF"
                        onChange="agregaExtra(this)">
                  <option value="fijo">
                    Fijo
                  </option>
                  <option value="sos">
                    SOS
                  </option>
                </select>
              </center>
            </td>
            <td>
              <center>
                <select class="s3" id="s3" name="nuevaVAD">
                  <option value="endov">
                    Endovenosa
                  </option>
                  <option value="neb">
                    Nebulizaci&oacute;n
                  </option>
                  <option value="oral">
                    Oral
                  </option>
                  <option value="rect">
                    Rectal
                  </option>
                  <option value="subc">
                    Subcut&aacute;nea
                  </option>  
                  <option value="top">
                    T&oacute;pica
                  </option>  
                </select>
              </center>
            </td>
          </tr>
          <tr id="extra" class="ultimo2 displayNone" >
            <td colspan="4">
              <center>
                <label for="situacion">
                  Situacion
                  &nbsp; 
                  <input class="input-large" 
                         id="situacion" 
                         name="situacion" 
                         type="text"
                    value="">
                </label>
              </center>

            </td>
            <td colspan="3">
              <center>
                <label for="comentario">
                  Comentario&nbsp; 
                  <input class="input-large" 
                         id="comentario" 
                         name="comentario"
                         type="text" 
                         value="">
                </label>
              </center>
            </td>
          </tr>

        </tbody>
      </table>
  </center>
  </div>
  <br>
</form>
<center>
  <div class="btn-group">
    <button class="btn btn-mini btn-primary"
            onClick="envia1('/emergencia/indicaciones/{{emergencia.id}}/{{tipo_ind}}/modificar')">
      <i class="icon-edit icon-white"></i>
      Modificar
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-mini btn-primary"
            onClick="envia1('/emergencia/indicaciones/{{emergencia.id}}/{{tipo_ind}}/agregar')">
      <i class="icon-plus icon-white"></i>
      Agregar
    </button>
  </div>
  <div class="btn-group">
    <button class="btn btn-mini btn-primary"
            onClick="envia1('/emergencia/indicaciones/{{emergencia.id}}/{{tipo_ind}}')">
      <i class="icon-arrow-left icon-white"></i>
      Deshacer
    </button>
  </div>
</center>