<script>
    var clonLast = $(".ultimo:last").clone();
</script>

<form id='formu' 
      name="formu" 
      class="tablaAgregar2" 
      method="post"
      action="">
  {% csrf_token %}

  <div>
    <center>
      {% if tipo_ant == 'medica' %}
        <h4 class = "azul" >
          Antecedentes Medicos
        </h4>
        {% elif tipo_ant == 'quirurgica' %}
        <h4 class = "azul" >
          Antecedentes Quirurgicos
        </h4>
      {% elif tipo_ant == 'alergia' %}
        <h4 class = "azul" >
          Antecedentes Alegicos
        </h4>
      {% endif %}

    </center>
    <center>
      <div class="btn btn-info fondoRojo">
        <input class="btn btn-info btn-mini" 
               type="button" 
               value="Eliminar"
              onClick="envia('/emergencia/antecedentes/{{emergencia.id}}/{{tipo_ant}}/eliminar')" 
        />
        <input class="btn btn-info btn-mini" 
               type="button"
               value="Modificar"
               onClick="envia('/emergencia/antecedentes/{{emergencia.id}}/{{tipo_ant}}/modificar')" 
        />
        <input class="btn btn-info btn-mini" 
               type="button" 
               value="Agregar"
               onClick="envia('/emergencia/antecedentes/{{emergencia.id}}/{{tipo_ant}}/agregar')" 
        />
        <input class="btn btn-info btn-mini" 
               type="button"
               value="Deshacer"
               onClick="envia('/emergencia/antecedentes/{{emergencia.id}}/{{tipo_ant}}')" 
        />
      </div>
    </center>


    <center>
      <div id='div_de_tabla_atecedente'>
        {% if tipo_ant == 'alergia' %}
          <table class='table table-bordered width200' >
        {% else %}
          <table class='table table-bordered widht480' >
        {% endif %}
            <thead>
              <tr class='btn-info'>
                <th class = "width40" >
                  <!-- <center>Elimina</center> -->
                  <center>
                    <i class="icon-trash icon-white"></i>
                  </center>
                </th> 
                {% if tipo_ant == 'alergia'%}
                  <th class = "width150" >
                    <center>
                      Alergeno
                    </center>
                  </th> 
                {% else%}
                <th class = "width150" >
                  <center>
                    Nombre
                  </center>
                </th> 
                {% endif %} 
                {% if tipo_ant == 'medica' or tipo_ant == 'quirurgica'%}
                  <th class = "width150" >
                    <center>
                      Fecha
                    </center>
                  </th> 
                  {% if tipo_ant == 'medica' %}
                    <th class = "width150" >
                      <center>
                        Tratamiento
                      </center>
                    </th> 
                  {%endif %}
                  {% if tipo_ant == 'quirurgica' %}
                    <th class = "width150" >
                      <center>
                        Lugar
                      </center>
                    </th> 
                  {% endif%} 
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for i in pertenece %}
                <tr class='well'>
                  <td>
                    <center>
                      <input type="checkbox" 
                             name="check"
                             value="{{i.antecedente.id}}" 
                      />
                    </center>
                  </td>
                  <td>
                    <center>
                      <input type="text" 
                             name="{{i.antecedente.id}}nombre"
                             value="{{i.antecedente.nombre}}"
                             class = "width100 height12" >
                      />
                      <center>
                  </td>
                  {% if tipo_ant == 'medica' or tipo_ant == 'quirurgica' %}
                    <td>
                      <center>
                        <input id='ifecha' 
                               type="text"
                               name="{{i.antecedente.id}}fecha" 
                               value="{{i.fechaR}}"
                               class = "width100 height12" >
                        />
                        <center>
                    </td> 
                  {% endif %} 
                  {% if tipo_ant == 'medica'%}
                    <td>
                      <center>
                        <input id='iatributo3' 
                               type="text"
                               name="{{i.antecedente.id}}atributo3"
                               value="{{i.tratamientoR}}" 
                               class = "width100 height12" >
                         />
                        <center>
                    </td> 
                  {% endif %} 
                  {% if tipo_ant == 'quirurgica' %}
                    <td>
                      <center>
                        <input id='ilugar' 
                               type="text"
                               name="{{i.antecedente.id}}atributo3" 
                               value="{{i.lugarR}}"
                               class = "width100 height12" >
                        <center>
                    </td> 
                  {% endif %}
                </tr>
              {% endfor %}
              <tr class="ultimo">
                <td>
                  <center>
                    <input id='inombre' 
                           type="checkbox" 
                           name="nuevoCheck"
                           value="nuevo" 
                    />
                  </center>
                </td>
                <td>
                  <center>
                    <input type="text" 
                           name="nuevoNombre" 
                           value=""
                           onChange="CompruebaCampo(this,clonLast)"
                           class = "width100 height12" >
                    />
                    <center>
                </td> 
                {% if tipo_ant == 'medica' or tipo_ant == 'quirurgica'%}
                  <td>
                    <center>
                      <input type="text" 
                             name="nuevoFecha" 
                             value=""
                             class = "width100 height12" >
                      />
                      <center>
                  </td>
      
                  <td>
                    <center>
                      <input type="text" 
                             name="nuevoAtributo3" 
                             value=""
                             class = "width100 height12" >
                      <center>
                  </td> 
                {% endif %}
              </tr>
            </tbody>
          </table>
      </div>
    </center>
  </div>

</form>