<!DOCTYPE html>
<html lang="es">
<head>
<title></title>

<!-- Bootstrap -->
<link rel="stylesheet"
  href="/static/libs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
  href="/static/libs/bootstrap/css/bootstrap-responsive.min.css">
<script type="text/javascript"
        src="/static/libs/bootstrap/js/bootstrap.min.js">
</script>

<!-- jQuery -->
<script type="text/javascript" src="/static/libs/js/jquery.min.js"></script>

<!-- Propios -->
<link rel="stylesheet" href="/static/css/estilo.css">
<link type="image/x-icon" href="/static/img/icono.ico" rel="icon" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a  class="btn btn-navbar" 
            data-toggle="collapse"
            data-target=".nav-collapse"> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span> 
          <span class="icon-bar"></span>
        </a> 
        <a class="brand" href="/">
          <img src="/static/img/logo.png" />
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="dropdown">
              <a  href="#" 
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                Emergencia
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/emergencia/listar">Agregar</a>
                </li>
                <li>
                  <a href="#">Buscar</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a  href="#" 
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                Pacientes
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Agregar</a>
                </li>
                <li>
                  <a href="#">Buscar</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a  href="#" 
                  class="dropdown-toggle"
                  data-toggle="dropdown">
                Listar
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/emergencia/listar">
                    Pacientes de Emergencia
                  </a>
                </li>
                <li>
                  <a href="#">Pacientes por Clasificar</a>
                </li>
                <li>
                  <a href="#">Pacientes por Atencion</a>
                </li>
                <li>
                  <a href="#">Pacientes Atendidos</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        {% if user.is_authenticated %}
          <div class="usuario navbar-form pull-right">Usuario: 
            {% if user.first_name or user.last_name%} 
              {{user.first_name}}
              {{user.last_name}} 
              - 
              {{user}} 
            {% else %} 
              {{ user }} 
            {% endif %}
          </div>
        {% else %}
          <form method='POST' 
                action="/sesion/iniciar/"
                class="navbar-form pull-right">
            {% csrf_token %} 
            {{ form.unombre }} 
            {{ form.uclave }} 
            <input class="btn btn-primary" 
                   type="submit"
                   value="Iniciar Sesi&oacute;n" />
          </form>
        {% endif %}


      </div>
    </div>
  </div>
  <div class="container">
    {% if msj_info %}
    <div class="row">
      <div class="centrar span11 alert alert-{{msj_tipo}}">
        {{msj_info}}
      </div>
    </div>
    {% endif %} 
    
    {% block cuerpo %} 
    {% endblock %}

  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">
        &reg;Pagina desarrollada en la 
        <a href="http://www.usb.ve/">
          Universidad Sim&oacute;n Bol&iacute;var
        </a> 
        para el 
        <a href="http://www.centromedicodecaracas.com.ve/">
          Centro M&eacute;dico de Caracas
        </a>.
      </p>
    </div>
  </div>
  <script type="text/javascript"
    src="/static/libs/bootstrap/js/bootstrap-dropdown.js"></script>
  <script type="text/javascript"
    src="/static/libs/bootstrap/js/bootstrap-collapse.js"></script>
</body>
</html>
