<!DOCTYPE html>
<html lang="es">
  <head>
    <title> Atenci&oacute;n M&eacute;dica </title>

    <!-- jQuery -->
    <script type="text/javascript" src="/static/libs/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap-responsive.min.css">
    <script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap-collapse.js"></script>

    <!-- Propios -->
    <link rel="stylesheet" href="/static/css/estilo.css">
    <link type="image/x-icon" href="/static/img/icono.ico" rel="icon" />
    <script>
    // Para habilitar el dropdown de los menus
    $(document).ready(function(){
      $('.dropdown-toggle').dropdown();
    });
    </script>

    {% block scripts %}
    {% endblock %}

    <script>
    {% block en_scripts %}
    {% endblock %}
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/"><img src="/static/img/logo.png" /></a>
	  <div class="nav-collapse">
            <ul class="nav">

	      {% if user.is_authenticated %}
	      <li><a href="/emergencia/listar/todas">Ver Emergencias</a></li>
	      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Emergencia<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/emergencia/agregar">Agregar</a></li>
            <li><a href="/emergencia/buscar">Buscar</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Listas Especializadas<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/emergencia/listar/todas">Pacientes en Emergencia</a></li>
		  <li class="divider"></li>
		  <li class="nav-header">Por Area</li>
                  <li><a href="/emergencia/listar/triage">Pacientes en Triage</a></li>
                  <li><a href="/emergencia/listar/atencion">Pacientes en Atención</a></li>
		  <li class="divider"></li>
		  <li class="nav-header">Sub Areas de Triage</li>
                  <li><a href="/emergencia/listar/sinclasificar">Pacientes por Clasificar</a></li>
                  <li><a href="/emergencia/listar/clasificados">Pacientes por Atencion</a></li>
                </ul>
              </li>
	      {% if user.is_staff %}
	      <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuarios<b class="caret"></b></a>
		<ul class="dropdown-menu">
                  <li><a href="/usuario/crear">Crear</a></li>
                  <li><a href="/usuario/listar">Listar</a></li>
                  <li><a href="/usuario/pendientes">Pendientes</a></li>
                </ul>
              </li>
	      {% endif %}
	      {% else %}
	      
	      <li><a href="/emergencia/buscar">Paciente</a></li>
	      <li><a href="/emergencia/listar/todas">Ver Emergencias</a></li>
	      
	      <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Listas Por Categor&iacute;a<b class="caret"></b></a>
		<ul class="dropdown-menu">
		  <li><a href="/emergencia/listar/todas">Pacientes en Emergencia</a></li>
		  <li class="divider"></li>
		  <li class="nav-header">Por &Aacute;rea</li>
		  <li><a href="/emergencia/listar/triage">Pacientes en Triage</a></li>
		  <li><a href="/emergencia/listar/atencion">Pacientes en Atención</a></li>
		  <li class="divider"></li>
		  <li class="nav-header">Sub &Aacute;reas de Triage</li>
		  <li><a href="/emergencia/listar/sinclasificar">Pacientes por Clasificar</a></li>
		  <li><a href="/emergencia/listar/clasificados">Pacientes por Atenci&oacute;n</a></li>
		</ul>
	      </li>
	      {% endif %}
            </ul>
	  </div>

	  {% if user.is_authenticated %}
	  <div class="usuario navbar-form pull-right">
	    {{user}} (<a href="/sesion/cerrar">Cerrar Sesión</a>)
	  </div>
	  {% else %}
          <form method='POST' action="/sesion/iniciar/" class="navbar-form pull-right">
	    {% csrf_token %}
	    {{ form.unombre }}
	    {{ form.uclave }}
	    <input class="btn btn-primary" type="submit" value="Iniciar Sesi&oacute;n" /><br>
	    <a href="/usuario/restablecer">Recuperar Clave</a> | 
	    <a href="/usuario/solicitar">Solicitar Cuenta</a>
	    
	    
          </form>
	  {% endif %}
	</div>
      </div>
    </div>
    <div id="cuerpo" class="container">
      {% if msj_info %}
      <div class="row">
        <div id="mensaje" class="span12 alert alert-{{msj_tipo}}">
          {{msj_info}}
      	</div>
      </div>
      {% endif %}

      {% block cuerpo %}
      {% endblock %}
      
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">&reg;P&aacute;gina desarrollada en la <a href="http://www.usb.ve/">Universidad Sim&oacute;n Bol&iacute;var</a> para el <a href="http://www.centromedicodecaracas.com.ve/">Centro M&eacute;dico de Caracas</a>.</p>
      </div>
    </div>
    <script>
      $('.dropdown-toggle').dropdown()
    </script>
    {% block scripts2 %}
    {% endblock %}
  </body>
</html>
