<!DOCTYPE html>
<html lang="es">
<head>
  <title>Atenci&oacute;n M&eacute;dica</title>
  
  <!-- jQuery -->
  <script type="text/javascript" src="/static/libs/js/jquery.min.js"></script>
  
  <!-- Bootstrap -->
  <link rel="stylesheet"
    href="/static/libs/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="/static/libs/bootstrap/css/bootstrap-responsive.min.css">
  <script type="text/javascript"
    src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript"
    src="/static/libs/bootstrap/js/bootstrap-dropdown.js"></script>
  <script type="text/javascript"
    src="/static/libs/bootstrap/js/bootstrap-collapse.js"></script>
  
  <!-- Propios -->
  <link rel="stylesheet" href="/static/css/estilo.css">
  <link rel="stylesheet" href="/static/css/masEstilos.css">
  <link type="image/x-icon" href="/static/img/icono.ico" rel="icon" />
  <script>
      // Para habilitar el dropdown de los menus
      $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
      });
  </script>
  {% block estilos %}
  {% endblock %}
  
  {% block scripts %}
  
  {% endblock %}
  
  <script>
      {% block en_scripts %}
      {% endblock %}
  </script>
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="lista" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner fontsize16">
      <div class="container">
        <a   class="btn btn-navbar" 
             data-toggle="collapse"
             data-target=".nav-collapse"> 
          <span class="icon-bar"></span>
          <span  class="icon-bar"></span> 
          <span class="icon-bar"></span>
        </a> 
        <a class="brand" href="/">
          <img src="/static/img/logo.png"
               class = " marginleft5 width40 height40" 
          />
        </a>
        <div class="nav-collapse"> 
          <ul class="nav">
            {% if user.is_authenticated %}
              <li class="dropdown">
                <a   href="#" class="dropdown-toggle"
                     data-toggle="dropdown">
                  Paciente
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/emergencia/agregar">Agregar</a>
                  </li>
                  <li>
                    <a href="/emergencia/buscar">Buscar</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a   href="#" class="dropdown-toggle"
                     data-toggle="dropdown">
                  Listas
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/emergencia/listar/todas">Listado General</a>
                  </li>
                  <li class="nav-header">Listado por área</li>
                  <li>
                    <a href="/emergencia/listar/triage">
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      Área de triage
                    </a>
                  </li>
                  <li>
                    <a href="/emergencia/listar/sinclasificar">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Pacientes por clasificar
                    </a>
                  </li>
                  <li>
                    <a href="/emergencia/listar/clasificados">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Pacientes clasificados, no atendidos
                    </a>
                  </li>
                  <li>
                    <a href="/emergencia/listar/atencion/nada">
                      &nbsp;&nbsp;&nbsp;&nbsp;
                      Área de atencion
                    </a>
                  </li>
                  <li>
                    <a href="/emergencia/listar/observacion">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Área de observación
                    </a>
                  </li>
                  <li>
                    <a href="/emergencia/listar/ambulatoria">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      Área de atención ambulatoria
                    </a>
                  </li>
                </ul>
              </li> 
              {% if user.is_staff %}
                <li class="dropdown">
                  <a  href="#" 
                      class="dropdown-toggle"
                      data-toggle="dropdown">
                    Usuarios
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                        <a href="/usuario/crear">Crear</a>
                    </li>
                    <li>
                      <a href="/usuario/listar">Listar</a>
                    </li>
                    <li>
                      <a href="/usuario/pendientes">Pendientes</a>
                    </li>
                  </ul>
                </li> 
              {% endif %}
              <li class="dropdown">
                <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </h3>
              </li>
              <li class="dropdown">
                <h3 class="tit-list"></h3>
              </li> 
            {% else %}
              <li>
               <a href="/emergencia/buscar">Paciente</a>
              </li>
              <li>
               <a href="/emergencia/listar/todas">Ver emergencias</a>
              </li>
              <li class="dropdown">
                <a  href="#" class="dropdown-toggle"
                    data-toggle="dropdown">
                  Listas por categoría
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                   <a href="/emergencia/listar/todas">
                     Pacientes en emergencia
                   </a>
                  </li>
                  <li class="divider">
                  </li>
                  <li class="nav-header">Por área
                  </li>
                  <li>
                    <a href="/emergencia/listar/triage">
                      Pacientes en triage
                    </a>
                  </li>
                  <li>
                    <a href="/emergencia/listar/atencion">
                      Pacientes en atención
                    </a>
                  </li>
                  <li class="divider">
                  </li>
                  <li class="nav-header">
                    Subáreas de triage
                  </li>
                  <li>
                    <a href="/emergencia/listar/sinclasificar"> 
                      Pacientes sin clasificar
                    </a>
                  </li>
                  <li>
                  <a href="/emergencia/listar/clasificados">
                    Pacientes clasificados, no atendidos
                  </a>
                  </li>
                </ul>
              </li> 
            {% endif %}
          </ul>
        </div>
        {% if user.is_authenticated %}
          <div class="usuario navbar-form pull-right">
            {{user}} 
            (<a href="/sesion/cerrar">Cerrar sesión</a>)
          </div>
        {% else %}
          <form method='POST' 
                action="/sesion/iniciar/"
                class="navbar-form pull-right">
            {% csrf_token %}
            {{ form.unombre }} 
            {{ form.uclave }} 
            <input  class="btn btn-primary" 
                    type="submit"
                    value="Iniciar Sesi&oacute;n" />
              <br> 
              <a href="/usuario/restablecer">Recuperar clave</a> 
              |
              <a href="/usuario/solicitar">Solicitar cuenta</a>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="cuerpo" class="container">
    {% if msj_info %}
      <div class="row">
        <div id="mensaje" class="span12 alert alert-{{msj_tipo}}">
          {{msj_info}}
        </div>
      </div>
    {% endif %} 
    
    {% if not user.is_authenticated %}

      <h3 class="tit-list"></h3>
    {% endif %} 
    
    {% block cuerpo %} 
    {% endblock %} 
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">
        MEDMATRIC. VERSION 1.0. Derechos reservados
        <p class="muted credit">&reg;Pagina desarrollada en la 
        <a href="http://www.usb.ve/"> Universidad Sim&oacute;n Bol&iacute;var</a> 
        para el 
        <a href="http://www.centromedicodecaracas.com.ve/">Centro M&eacute;dico de Caracas </a>.
      </p>

  <script>
      $('.dropdown-toggle').dropdown()
  </script>
  
  {% block scripts2 %} 
  {% endblock %}
  
</body>
</html>

