{% extends "base.html" %}
{% block cuerpo %}
  {% if mensaje %}
    {{ mensaje }}
  {% endif %}
  <div class="centrar">
    <div class="cuadroGrande">
      <h4>{{titulo}}</h4>
      <form class= "tablaAgregar" method="post">
        {% csrf_token %}
        <table>
          {% for field in form %}
            <tr>
              <td>{{field.label}}</td>
              <td>{{field}}</td>
              <td>{{field.errors}}</td>
            </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td>
              <input class="button-blue" type="submit" value="{{boton}}" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
{% endblock %}
