{% extends "base.html" %}
{% block cuerpo %}
  {% if mensaje %}
    {{mensaje}}
  {% endif %}
  
  <form method="post" action="/">
    {% csrf_token %}
    <table>
      <tr>
        <td>
          C&eacute;dula
        </td>
        <td>
          {{form.cedula}}
        </td>
      </tr>
      {% for l in lista %}
        <tr>
          <td>
            {{l.id}}
          </td>
          <td>
            {{l.paciente}}
          </td>
          <td>
            {{l.horaIngreso}}
          </td>
          <td></td>
        </tr>
      {% endfor %}
    </table>
    <input type="submit" value="Ingresar" />
  </form>
{% endblock %}
