{% extends "base.html" %}
{% block cuerpo %}
{% if "Exitosamente" in mensaje %} 
<div class= "alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
{{mensaje}}
</div>
{% elif "cubiculo" in mensaje %}
    <div class= "alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{mensaje}}
    </div>
{% endif %}
<script src ="/static/scripts/esperas.js"> </script>
<script>
function enviaA(emercy){
  $(function() {
      $('#'+emercy+'cub').change(function() {
        this.form.submit();
      });
    });
}
{% if user.is_authenticated %}
function actualizar(emer){
  $(function() {
    $('#formCubA_'+emer).show();
    $('#cubDir_'+emer).replaceWith($('#formCubA_'+emer));
  });
}
{% endif %}

function manito(emer){
  $(function() {
    $(this).hover("cursor", "hand");
  });
}

$(document).ready(
    function(){
      $(".formCubA").css("display","none");
      $("[rel='tooltip']").tooltip();
      $(".tit_list").html("{{titulo}}")
  });
</script>
<style>
  a.espera:link, a.espera:visited, a.espera:active { text-decoration: none }
  .s1 {
  width:57px;
}
.nombreLista {
    text-transform: uppercase;
}
.cubi:hover{
  cursor: pointer;
}
</style>
<div class="container row">
  {% if lista %}
    <table class="table table-bordered" style="font-size: 22px;">
      <tr>

        <th><center>Cub&iacute;culo</center></th>
        <th><center>Nombre</center></th>
        <th><center>Acciones</center></th>
        <th><center>ISE</center></th>
        <th><center>Causas de Espera</center></th>
        <th>
        </th>

      </tr>
      {% for l in lista %}
      <tr id ="emergencia_{{l.id}}" class="filaEmergencia">
        <td>
          
          {% if l.atendido == True %}
          {% if l.cubi != '' %}
          <div class="cubi" id="cubDir_{{l.id}}" ondblclick="actualizar('{{l.id}}')">
          <center>
            {{l.cubi}}
          </center>
          </div>
          <div id="formCubA_{{l.id}}" class="formCubA">
            <center>
              <form id="formCubi" method="post" action="/emergencia/guardar_cubi/{{l.id}}/actualizar">
                {% csrf_token %}
                <select id="{{l.id}}cub" name="{{l.id}}cub" class="s1">
                  <option value="nada">--</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5A">5A</option>
                  <option value="5B">5B</option>
                  <option value="5C">5C</option>
                  <option value="5D">5D</option>
                  <option value="5E">5E</option>
                  <option value="6A">6A</option>
                  <option value="6B">6B</option>
                  <option value="6C">6C</option>
                  <option value="6D">6D</option>
                  <option value="6E">6E</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
                <button class="btn btn-mini btn-primary" onClick="enviaA('{{l.id}}')" rel="tooltip" data-toggle="tooltip" data-original-title="Actualizar"><i class="icon-refresh icon-white"></i>
                </button>
              </form>
            </center>
          </div>
          {% else %}
          <div id="formCub">
          <center>
          <form id="formCubi" method="post" action="/emergencia/guardar_cubi/{{l.id}}/guardar">
            {% csrf_token %}
            <select id="{{l.id}}cub" name="{{l.id}}cub" class="s1">
                <option value="nada">--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5A">5A</option>
                <option value="5B">5B</option>
                <option value="5C">5C</option>
                <option value="5D">5D</option>
                <option value="5E">5E</option>
                <option value="6A">6A</option>
                <option value="6B">6B</option>
                <option value="6C">6C</option>
                <option value="6D">6D</option>
                <option value="6E">6E</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
              </select>
              <button class="btn btn-mini btn-primary" onClick="enviaA('{{l.id}}')" rel="tooltip" data-toggle="tooltip" data-original-title="Guardar"><i class="icon-plus-sign icon-white"></i></button>
            </form>
        </center>
        </div>
        {% endif %}

        {% else %}
        <center>No aplica</center>

        {% endif %}
        

        </td>
        <td><span class="nombreLista"><a a href='/paciente/{{ l.paciente.id }}'>{{l.paciente}}</a></span></td>
        {% if l.triage != 0 and l.atendido == False  %}
        <td>
          <a href="/emergencia/{{l.id}}/t1" rel="tooltip" data-toggle="tooltip" data-original-title="Recalcular">
            <img src="/static/img/estados/triage.png" style="margin-left: 5px; width:35px; height:35px;"/>
          </a>
          <a id='espera{{l.id}}' class='espera' data-html="true" href="#" data-toggle="popover" data-placement="bottom"title="" data-original-title="Lista De Esperas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class='btn btn-mini btn-primary' onclick='MantenerEsperas({{l.id}})' >mantener</button>" idEmer="{{l.id}}" >
            <span style='margin-left:5px;color:white;background:rgba(0, 61, 255, 1);border-radius:6px;'rel="tooltip" data-toggle="tooltip" data-original-title="Esperas">
              <b>
                <font id="texto{{l.id}}" size=2 texto='{{l.numEsperasNoAtendidas}}'> &nbsp;{{l.numEsperasNoAtendidas}}&nbsp;&nbsp;</font>
              </b>
            </span>
          </a>
          <a href='/emergencia/atencion/{{ l.id }}/listado' rel="tooltip" data-toggle="tooltip" data-original-title="Ingreso a Atención">
            <img style="margin-left: 5px; width:35px; height:35px;" src="/static/img/pastillas.png"/>
          </a>
          <a href='/emergencia/{{l.id}}/daralta' rel="tooltip" data-toggle="tooltip" data-original-title="Dar de Alta">
            <img style="margin-left: 5px; width:35px; height:35px;" src="/static/img/alta.png"/>
          </a>
        </td>
        {% elif l.triage != 0 and l.atendido == True %}
        <td>
          <a href="/emergencia/{{l.id}}/t1" rel="tooltip" data-toggle="tooltip" data-original-title="Recalcular">
            <img src="/static/img/estados/triage.png" style="margin-left: 5px; width:35px; height:35px;"/>
          </a>
          <a id='espera{{l.id}}' class='espera' data-html="true" href="#" data-toggle="popover" data-placement="bottom"title="" data-original-title="Lista De Esperas &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class='btn btn-mini btn-primary' onclick='MantenerEsperas({{l.id}})' >mantener</button>" idEmer="{{l.id}}" >
            <span style='margin-left:5px;color:white;background:rgba(0, 61, 255, 1);border-radius:6px;'rel="tooltip" data-toggle="tooltip" data-original-title="Esperas">
              <b>
                <font id="texto{{l.id}}" size=2 texto='{{l.numEsperasNoAtendidas}}'> &nbsp;{{l.numEsperasNoAtendidas}}&nbsp;&nbsp;</font>
              </b>
            </span>
          </a>
          <a href='/emergencia/{{l.id}}/daralta' rel="tooltip" data-toggle="tooltip" data-original-title="Dar de Alta">
            <img style="margin-left: 5px; width:35px; height:35px;" src="/static/img/alta.png"/>
          </a>
        </td>
        {% else %}
        <td>
          <a href="/emergencia/{{l.id}}/t1"><img src="/static/img/estados/esi1.png" style="margin-left: 5px; width:35px; height:35px;" rel="tooltip" data-toggle="tooltip" data-original-title="Colocar en Nivel 1"/></a>
          <a href="/emergencia/{{l.id}}/t2"><img src="/static/img/estados/esi2.png" style="margin-left: 5px; width:35px; height:35px;" rel="tooltip" data-toggle="tooltip" data-original-title="Colocar en Nivel 2"/></a>
          <a href="/emergencia/{{l.id}}/triage/calcular"><img src="/static/img/estados/triage.png" style="margin-left: 5px; width:35px; height:35px;" rel="tooltip" data-toggle="tooltip" data-original-title="Realizar Triage"/></a>
        </td>
        {% endif %}
        <td>{% if l.triage != 0 %}<img src="/static/img/estados/nivel{{ l.triage }}.png" style="margin-left: 5px; width:35px; height:35px;" title="Nivel {{ l.triage }}"/>{% endif %}</td>

	<td>
    <span id="causas_{{l.id}}">
    </span>
	</td>
	<td>
      <div class="progress progress-striped active">
      <div id="barra_{{l.id}}" class="" style="width:100%;">
       <span id="tiempo_{{l.id}}" style="font-size: 22px;">{{l.tiempo_esperaR}}</span>
      </div>
    </div>

  </td>
      </tr> 
      {% endfor %}
    </table>
    
    {% else %}
    No hay pacientes en esta area
    {% endif %}
  </div>
</div>
{% endblock %}

{% block scripts2 %}
<script>

  $(document).ready(function() {
  $('.dropdown-toggle').dropdown();

  {% for l in lista %}
    $("#emergencia_{{l.id}}").data("tiempoEsp","{{l.tiempo_espera_causasR}}");
  {% endfor %}  

  var myVar=setInterval(function(){myTimer()},1000);
  var tiempoMax = 360;
  function myTimer() {

  {% for l in lista %}
  var idE= "{{l.paciente.apellidos}}"
  var tiempo=$("#tiempo_{{l.id}}").html();
  tiempo = tiempo.split(":");
  dias = parseInt(tiempo[0]);
  hors = parseInt(tiempo[1]);
  mins = parseInt(tiempo[2]);
  segs = parseInt(tiempo[3]);
  var tiempoC = (dias*24*60)+(hors*60)+mins;

  segs += 1;

  if (segs == 60) {
    segs = segs%60;
    mins = mins +1;
    if (mins == 60) {
      mins = mins%60;
      hors = hors + 1;
      if (hors == 24) {
        hors = hors % 24;
        dias = dias + 1;
      }
    }
  }

  if (segs < 10) segs = "0"+segs;
       if (mins < 10) mins = "0"+mins;
      if (hors < 10) hors = "0"+hors;
           if (dias < 10) dias = "0"+dias;

                tiempo = dias+":"+hors+":"+mins+":"+segs;
                $("#tiempo_{{l.id}}").html(tiempo);
                // console.log($("#emergencia_{{l.id}}").data("tiempoEsp"));
                //    if ($("#emergencia_{{l.id}}").data("tiempo_espera_inicio") != "1"){
                //if (dias  == 0 && hors == 2 && mins == 0  && segs == 0){
                    tiempoEsp = $("#emergencia_{{l.id}}").data("tiempoEsp").split(":");
                    console.log($("#emergencia_{{l.id}}").data("tiempoEsp"));
                    diasEsp = parseInt(tiempoEsp[0]);
                    horsEsp = parseInt(tiempoEsp[1]);
                    minsEsp = parseInt(tiempoEsp[2]);
                    segsEsp = parseInt(tiempoEsp[3]);
                  //$("#emergencia_{{l.id}}").data("tiempo_espera","0");
                 //{{l.tiempo_espe_act}}
                //  $("#emergencia_{{l.id}}").data("tiempo_espera_inicio","1");
               // }
                
                //if (dias > 0 || hors > 1 || ){
                  console.log("dias: "+diasEsp+", hora:"+horsEsp+", min: "+minsEsp+"segsEsp: "+segsEsp);
                    segsEsp += 1;
                    if (segsEsp == 60) {
                      segsEsp = segsEsp%60;
                      minsEsp = minsEsp +1;
                      if (minsEsp == 60) {
                        minsEsp = minsEsp%60;
                        horsEsp = horsEsp + 1;
                        if (horsEsp == 24) {
                          horsEsp = horsEsp % 24;
                          diasEsp = diasEsp + 1;
                        }
                      }
                    }
                    $("#emergencia_{{l.id}}").data("tiempoEsp",diasEsp+":"+horsEsp+":"+minsEsp+":"+segsEsp)
                    //if (minsEsp == 30 && segsEsp == 0){
                    if (diasEsp > 0 || horsEsp> 0 || minsEsp > 0){
                      $('#emergencia_{{l.id}}').css("background","rgba(230, 230, 230, 0.5)");
                    }

                tiempo = (dias*24*60)+(hors*60)+mins;
                tExc = tiempoMax;
                tRoj = tiempoMax * .66;
                tAma = tiempoMax * .33;
                if (tiempo  > tExc) {
           var alarma = $("#imagen_{{l.id}}").attr("src");
           if (alarma != "/static/img/estados/alarmaNegra.png") {
           $("#imagen_{{l.id}}").attr("src","/static/img/estados/alarmaNegra.png");          
           }
           } else if (tiempo > tRoj) {
      $("#imagen_{{l.id}}").attr("src","/static/img/estados/alarmaRoja.png");
      } else if (tiempo > tAma) {
             $("#imagen_{{l.id}}").attr("src","/static/img/estados/alarmaAmarilla.png");
       }


	     t = Math.floor((tiempoC /tiempoMax)*100);
       console.log("TIEMPO : "+tiempo+ " Tiempo total en porcentaje: "+t+ " de paciente: "+idE);
	     if (t >= 100) {
        $("#barra_{{l.id}}").attr("class","bar bar-inverse");
      } else if (t < 100 && t >= 66) {
        $("#barra_{{l.id}}").attr("class","bar bar-danger");
      } else if (t < 66 && t >= 33) {
        $("#barra_{{l.id}}").attr("class","bar bar-warning");
      } else {
        $("#barra_{{l.id}}").attr("class","bar bar-success");
      }
	
	{% endfor %}
	}
  });
</script>

{% endblock %}