{% extends "base.html" %}
  {% block estilos %}
    <link rel="stylesheet" type="text/css" href="/static/css/lista.css">
  {% endblock %}

  {% block cuerpo %}
    {% if "Exitosamente" in mensaje %} 
      <div class= "alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{mensaje}}
      </div>
    {% elif "cubiculo" in mensaje %}
      <div class= "alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{mensaje}}
        </div>
    {% endif %}

    <script src ="/static/scripts/esperas.js"> </script>
    <script>
      function enviaA(emercy){
        $(function() {
          $('#'+emercy+'cub').change(function() {
            this.form.submit();
          });
        });
      }

      {% if user.is_authenticated %}

        function actualizar(emer){
          $(function() {
            $('#formCubA_'+emer).show();
            $('#cubDir_'+emer).replaceWith($('#formCubA_'+emer));
          });
        }

      {% endif %}

      function manito(emer){
        $(function() {
          $(this).hover("cursor", "hand");
        });
      }

      $(document).ready(function(){
        // Asociacion del evento click sobre las esperas
        $('.boton-espera').click(function(event){
          event.preventDefault();
          var causas_espera = $(this).parent('.espera')
                                     .first()
                                     .children('.causas-espera');
          causas_espera.fadeToggle();
        });

        // Método que agrega causas de espera a partir de la lista de causas
        // no asignadas
        $('.causas-espera').on('click', '.espera-mas', function(event){
          // Construir el elemento a agregar a la lista de causas asignadas
          var asignadas = $(this).closest('.causas-espera')
                                 .children('.esperas-asignadas')
                                 .first();
          var item_lista = $('<li></li>');
          asignadas.append(item_lista);
          
          // Colocar el logo para eliminar la causa
          var menos = $('<img> </img>');
          menos.attr('src', '/static/img/Atencion/menosim.png');
          menos.addClass('espera-menos');
          item_lista.append(menos);

          // Colocar el checkbox para marcar la causa como atendida
          var checkbox = $('<input></input>');
          checkbox.attr('type', 'checkbox');
          checkbox.attr('checked', false);
          item_lista.append(checkbox);

          // Colocar la imagen de la causa de espera
          var imagen_espera = $(this).siblings('.imagen-espera-lista')
                                     .first();
          item_lista.append(imagen_espera);

          // Colocar la causa de espera
          item_lista.append($(this).parent().text());

          // Eliminar el elemento
          $(this).parent().remove()
        });

        // Método que elimina causas de espera a partir de la lista de causas
        // asignadas
        $('.causas-espera').on('click', '.espera-menos', function(event){
          // Construir el elemento a agregar a la lista de causas no asignadas
          var no_asignadas = $(this).closest('.causas-espera')
                                    .children('.esperas-no-asignadas')
                                    .first();
          var item_lista = $('<li></li>');
          no_asignadas.append(item_lista);
          
          // Colocar el logo para eliminar la causa
          var menos = $('<img> </img>');
          menos.attr('src', '/static/img/Atencion/masim.png');
          menos.addClass('espera-mas');
          item_lista.append(menos);

          // Colocar la imagen de la causa de espera
          var imagen_espera = $(this).siblings('.imagen-espera-lista')
                                     .first();
          item_lista.append(imagen_espera);

          // Colocar la causa de espera
          item_lista.append($(this).parent().text());

          // Eliminar el elemento
          $(this).parent().remove()
        });

        $(".formCubA").css("display","none");
        $("[rel='tooltip']").tooltip();
        $(".tit_list").html("{{titulo}}")
      });
    </script>


    <div class="container row">
      
      {% if emergencias %}

        <table class="table table-bordered" style="font-size: 22px;">
          <tr>

            <th><center>UBICACI&Oacute;N</center></th>
            <th><center>PACIENTE</center></th>
            <th><center>NIVEL DE TRIAGE</center></th>
            <th><center>CAUSAS DE ESPERA</center></th>
            <th>
              <center>TIEMPO DE ATENCI&Oacute;N</center>
            </th>

          </tr>
          {% for emergencia in emergencias %}
            <tr id ="emergencia_{{emergencia.id}}" class="filaEmergencia" >
              <td>
                {% if emergencia.triage != 0 %}
                {% if emergencia.cubi != '' %}
                <div class="cubi" id="cubDir_{{emergencia.id}}" onclick="actualizar('{{emergencia.id}}')">
                <center>
                  {{emergencia.cubi}}
                </center>
                </div>
                <div id="formCubA_{{emergencia.id}}" class="formCubA">
                  <center>
                    <form id="formCubi" method="post" action="/emergencia/guardar_cubi/{{emergencia.id}}/actualizar">
                      {% csrf_token %}
                      <select id="{{emergencia.id}}cub" name="{{emergencia.id}}cub" class="s1">
                        <option value="nada">--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5A">5A</option>
                        <option value="5B">5B</option>
                        <option value="5C">5C</option>
                        <option value="5D">5D</option>
                        <option value="5E">5E</option>
                        <option value="6A">6A</option>
                        <option value="6B">6B</option>
                        <option value="6C">6C</option>
                        <option value="6D">6D</option>
                        <option value="6E">6E</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                      </select>
                      <button class="btn btn-mini btn-primary" onClick="enviaA('{{emergencia.id}}')" rel="tooltip" data-toggle="tooltip" data-original-title="Actualizar"><i class="icon-refresh icon-white"></i>
                      </button>
                    </form>
                  </center>
                </div>
                {% else %}
                <div id="formCub">
                <center>
                <form id="formCubi" method="post" action="/emergencia/guardar_cubi/{{emergencia.id}}/guardar">
                  {% csrf_token %}
                  <select id="{{emergencia.id}}cub" name="{{emergencia.id}}cub" class="s1">
                      <option value="nada">--</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5A">5A</option>
                      <option value="5B">5B</option>
                      <option value="5C">5C</option>
                      <option value="5D">5D</option>
                      <option value="5E">5E</option>
                      <option value="6A">6A</option>
                      <option value="6B">6B</option>
                      <option value="6C">6C</option>
                      <option value="6D">6D</option>
                      <option value="6E">6E</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                    </select>
                    <button class="btn btn-mini btn-primary" onClick="enviaA('{{emergencia.id}}')" rel="tooltip" data-toggle="tooltip" data-original-title="Guardar"><i class="icon-plus-sign icon-white"></i></button>
                  </form>
              </center>
              </div>
              {% endif %}

              {% else %}
                <center>NO ASIGNADO</center>
              {% endif %}
              
               <a href='/emergencia/{{emergencia.id}}/daralta' rel="tooltip" data-toggle="tooltip" data-original-title="Dar de Alta">
                <img style="margin-left: 5px; width:35px; height:35px;" src="/static/img/alta.png"/>
                </a>

              <td><span class="nombreLista"><a href='/paciente/{{ emergencia.paciente.id }}'>{{emergencia.paciente}}</a></span></td>
              
              <td class='tdTriage'>{% if emergencia.triage != 0 %}
                <a href="/emergencia/{{emergencia.id}}/triage/calcular" rel="tooltip" data-toggle="tooltip" data-original-title="Recalcular">
                <img src="/static/img/estados/nivel{{ emergencia.triage }}.png" style="margin-left: 5px; width:30px; height:40px;" title="Nivel {{ emergencia.triage }}"/>
                </a>
                {% else %}
                <a href="/emergencia/{{emergencia.id}}/triage/calcular" rel="tooltip" data-toggle="tooltip" data-original-title="Recalcular">
                <img src="/static/img/estados/nivel0.png" style="margin-left: 5px; width:30px; height:40px;" title="Nivel {{ emergencia.triage }}"/>
                </a>
                <a href="/emergencia/{{emergencia.id}}/t1"><img src="/static/img/estados/nivel1.png" style="margin-left: 5px; width:30px; height:40px;" rel="tooltip" data-toggle="tooltip" data-original-title="Colocar en Nivel 1"/></a>
                <a href="/emergencia/{{emergencia.id}}/t2"><img src="/static/img/estados/nivel2.png" style="margin-left: 5px; width:30px; height:40px;" rel="tooltip" data-toggle="tooltip" data-original-title="Colocar en Nivel 2"/></a>

                {% endif %}
              </td>

        <td class='tdEspera'>
          <span id='espera{{emergencia.id}}' 
                class='espera' 
                data-html="true" 
                data-toggle="popover" 
                data-placement="bottom" 
                title="" 
                idEmer="{{emergencia.id}}" >
            <span class="btn btn-small btn-primary boton-espera" 
                  style='width:10px;'>
              <b id="texto{{emergencia.id}}" 
                 texto='{{emergencia.numEsperasNoAtendidas}}' 
                 style="font-size: 17px;">
                {{emergencia.numEsperasNoAtendidas}}
              </b>
            </span>
            <div class="causas-espera">
              <p class='titulo-esperas'>
                Lista de esperas
                <button class='btn btn-small btn-primary'>
  <!--                      onclick='MantenerEsperas({{ emergencia.id }})'> -->
                mantener
                </button>
              </p>
              <hr />

              <ul class='esperas-asignadas'>
                {% for espera in emergencia.esperas_asignadas %}
                  <li class='espera-asignada'>
                    <img class='espera-menos'
                         src='/static/img/Atencion/menosim.png' />

                    {% if espera.estado == 0 %}
                      <input type='checkbox' ckecked />
                    {% else %}
                      <input type='checkbox' />
                    {% endif %}

                    <img class='imagen-espera-lista'
                         src='/static/img/esperas/espera_{{espera_asignada.id}}.png'/>
                    {{ espera_asignada.nombre }}
                  </li>
                {% endfor %}
              </ul>

              <hr />

              <ul class="esperas-no-asignadas">
                {% for espera in emergencia.esperas_no_asignadas %}
                  <li class='espera-no-asignada'>
                    <img class='espera-mas'
                         src='/static/img/Atencion/masim.png' />
                    <img class="imagen-espera-lista" 
                         src="/static/img/esperas/espera_{{espera.id}}.png"/>
                    {{ espera.nombre }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </span>
          <span id="causas_{{emergencia.id}}">
          </span>
        </td>
        <td>
            <div class="progress progress-striped active">
            <div id="barra_{{emergencia.id}}" class="" style="width:100%;">
             <span id="tiempo_{{emergencia.id}}" style="font-size: 22px;">{{emergencia.tiempo_esperaR}}</span>
            </div>
          </div>

        </td>
            </tr> 
          {% endfor %}

        </table>
        
        {% else %}
        No hay pacientes en esta area
        {% endif %}
      </div>
    </div>
  {% endblock %}

{% block scripts2 %}
<script>

  $(document).ready(function() {
    $('.dropdown-toggle').dropdown();
      var cont = 1;
      {% for emergencia in emergencias %}
        $("#emergencia_{{emergencia.id}}").data("tiempoEsp","{{emergencia.tiempo_espera_causasR}}");
        $("#emergencia_{{emergencia.id}}").data("fila",cont);
        $("#emergencia_{{emergencia.id}}").data("flat","0");
        cont++;
      {% endfor %}

      $('td:not(".tdEspera,.tdTriage")').click(function(){
      $('.espera').popover('hide'); 
    });

    $('.espera').click(function(e){
      e.stopPropagation();
      $('.espera').not(this).popover('hide');
    });
 

    var myVar=setInterval(function(){myTimer()},1000);
    var tiempoMax = 360;
    function myTimer() {

    {% for emergencia in emergencias %}
      var idE= "{{emergencia.paciente.apellidos}}"
      var tiempo=$("#tiempo_{{emergencia.id}}").html();
      tiempo = tiempo.split(":");
      dias = parseInt(tiempo[0]);
      hors = parseInt(tiempo[1]);
      mins = parseInt(tiempo[2]);
      segs = parseInt(tiempo[3]);
      var tiempoC = (dias*24*60)+(hors*60)+mins;

      segs += 1;

      if (segs == 60) {
        segs = segs%60;
        mins = mins +1;
        if (mins == 60) {
          mins = mins%60;
          hors = hors + 1;
          if (hors == 24) {
            hors = hors % 24;
            dias = dias + 1;
          }
        }
      }

      if (segs < 10) segs = "0"+segs;
      if (mins < 10) mins = "0"+mins;
      if (hors < 10) hors = "0"+hors;
      if (dias < 10) dias = "0"+dias;

      tiempo = dias+":"+hors+":"+mins+":"+segs;
      $("#tiempo_{{emergencia.id}}").html(tiempo);
      tiempoEsp = $("#emergencia_{{emergencia.id}}").data("tiempoEsp").split(":");
      diasEsp = parseInt(tiempoEsp[0]);
      horsEsp = parseInt(tiempoEsp[1]);
      minsEsp = parseInt(tiempoEsp[2]);
      segsEsp = parseInt(tiempoEsp[3]);
      segsEsp += 1;
      if (segsEsp == 60) {
        segsEsp = segsEsp%60;
        minsEsp = minsEsp +1;
        if (minsEsp == 60) {
          minsEsp = minsEsp%60;
          horsEsp = horsEsp + 1;
          if (horsEsp == 24) {
            horsEsp = horsEsp % 24;
            diasEsp = diasEsp + 1;
          }
        }
      }
      $("#emergencia_{{emergencia.id}}").data("tiempoEsp",diasEsp+":"+horsEsp+":"+minsEsp+":"+segsEsp)
      if (diasEsp > 0 || horsEsp> 0 || minsEsp > 0){
        $('#emergencia_{{emergencia.id}}').css("background","rgba(230, 230, 230, 0.5)");
      }

      tiempo = (dias*24*60)+(hors*60)+mins;
      tExc = tiempoMax;
      tRoj = tiempoMax * .66;
      tAma = tiempoMax * .33;
      if (tiempo  > tExc) {
        var alarma = $("#imagen_{{emergencia.id}}").attr("src");
        if (alarma != "/static/img/estados/alarmaNegra.png") {
          $("#imagen_{{emergencia.id}}").attr("src","/static/img/estados/alarmaNegra.png"); 
        }
      } else if (tiempo > tRoj) {
        $("#imagen_{{emergencia.id}}").attr("src","/static/img/estados/alarmaRoja.png");
      } else if (tiempo > tAma) {
        $("#imagen_{{emergencia.id}}").attr("src","/static/img/estados/alarmaAmarilla.png");
      }

      t = Math.floor((tiempoC /tiempoMax)*100);
      if (t >= 100) {
        $("#barra_{{emergencia.id}}").attr("class","bar bar-inverse");
      } else if (t < 100 && t >= 66) {
        $("#barra_{{emergencia.id}}").attr("class","bar bar-danger");
      } else if (t < 66 && t >= 33) {
        $("#barra_{{emergencia.id}}").attr("class","bar bar-warning");
      } else {
        $("#barra_{{emergencia.id}}").attr("class","bar bar-success");
      }

      {% endfor %}
    }
  });
</script>

{% endblock %}
