{% extends "base.html" %}
{% block cuerpo %}
  {% if mensaje %}
  {{mensaje}}
  {% endif %}
  <div class="container row">
    <div class="span12">
      <h3>Información</h3> 
    </div>
    
    <div class="span2">
      <img src="{{p.src_foto}}">
    </div>
    
    <div class="span4">
      <h4> {{p.apellidos}}, {{p.nombres}}</h4>
      <strong>C&eacute;dula:</strong> {{p.cedula}} <br/>
      <strong>Nombre:</strong> {{p.nombres}} <br/>
      <strong>Apellido:</strong> {{p.apellidos}}<br/>
      <strong>Sexo:</strong> {{p.sexoR}}<br/>
      <strong>Edad:</strong> {{p.edad}}<br/>
    </div>
  
    <div class="span3">
      <h4>Signos Vitales</h4>
      (Ultima Actualizaci&oacute;n: {{ea.fecha_triage}})<br/>
      <strong>Temperatura:</strong> {{p.signos_tmp}}<br/>
      <strong>Frecuencia Card&iacute;aca:</strong> {{p.signos_fc}}<br/>
      <strong>Frecuencia Respiratoria:</strong> {{p.signos_fr}}<br/>
      <strong>Presi&oacute;n Sist&oacute;lica:</strong> {{p.signos_pa}}<br/>
      <strong>Presi&oacute;n Diast&oacute;lica:</strong> {{p.signos_pb}}<br/>    
      <strong>Saturaci&oacute;n de Ox&iacute;geno:
        </strong> {{p.signos_saod}}<br/>    
    </div>
  
    {% if ea.hora_egreso == None %}
      <div class="span12">  
        <h3>Acciones</h3>
        {% if ea.triage == 0 %}
          <a href="/emergencia/{{ ea.id }}/triage/calcular" 
             class="btn btn-primary">
            Aplicar Triage
          </a>
        {% endif %}        

        {% if ea.triage != 0 %}
          <a href='/emergencia/atencion/{{ ea.id }}/historia' 
             class="btn btn-primary">
            Realizar Historia M&eacute;dica 
          </a>
        {% endif %}
		
        <a href="/paciente/{{ p.id }}/triage" class="btn btn-primary">
          Ver Informe Triage
        </a> 
        <a href="/emergencia/{{ ea.id }}/daralta" class="btn btn-primary">
          Egreso
        </a> 
		<a href="/paciente/{{ p.id }}/editar" class="btn btn-primary">
          Editar Perfil
        </a>
      
	{% endif %}
  </div>

{% endblock %}