<!DOCTYPE html>
<html>
  <head>
  <title>Historia Medica</title>
  <!-- <link rel="stylesheet" href="/static/css/estilo.css"> -->
  <!--     <link rel="stylesheet" href="/static/libs/bootstrap/css/bootstrap.min.css"> -->

</head>
  <body>
    <header>
      <div class="left">
      </div>
      <div class="right">
        <p>
          <h4>Centro M&eacute;dico</h4>
          Direcci&oacute;n<br> Tel&eacute;fonos
        </p>
      </div>
    </header>
    
    <p class="titulo">REPORTE INDICACIONES</p>
    <div class="cuerpo">
      <table id="tLIST" class="table table-bordered table-hover">
        <thead>
          <tr class="btn-info ">
            <th>
              <center>Hora</center>
            </th>
            <th>
              <center>Tipo</center>
            </th>
            <th>
              <center>Nombre</center>
            </th>
            <th>
              <center>Status</center>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for i in indicaciones %}
            <tr>
              <td>
                <center>
                  <p>{{i.horaA}}</p>
                </center>
              </td>
              <td>
                <center>
                  {% if i.indicacion.tipo == 'dieta'%}
                    <p style="width: 70px; height: 12px">Dieta</p>
                  {% elif i.indicacion.tipo == 'hidrata'%}
                    <p style="width: 70px; height: 12px">Hidrataci&oacute;n</p>
                  {% elif i.indicacion.tipo == 'medicamento'%}
                    <p style="width: 70px; height: 12px">Medicamento</p>
                  {% elif i.indicacion.tipo == 'lab'%}
                    <p style="width: 70px; height: 12px">
                      Diagn&oacute;stico - Laboratorio
                    </p>
                  {% elif i.indicacion.tipo == 'imagen'%}
                    <p style="width: 70px; height: 12px">
                      Diagn&oacute;stico - Imagenolog&iacute;a
                    </p>
                  {% elif i.indicacion.tipo == 'endoscopico'%}
                    <p style="width: 70px; height: 12px">
                      Diagn&oacute;stico - Estudio Endosc&oacute;pico
                    </p>
                  {% elif i.indicacion.tipo == 'valora'%}
                    <p style="width: 70px; height: 12px">
                      Diagn&oacute;stico - Valoraci&oacute;n Especializada
                    </p>
                  {% elif i.indicacion.tipo == 'otros'%}
                    <p style="width: 70px; height: 12px">
                      Diagn&oacute;stico - Otros
                    </p>
                  {% elif i.indicacion.tipo == 'terapeutico'%}
                    <p style="width: 70px; height: 12px">Terap&eacute;utico</p>
                  {% endif %}
                </center>
              </td>
              <td>
                <center>
                  <p style="width: 250px; height: 12px;">{{i.indicacion}}</p>
                </center>
              </td>
              <td>
                <center>
                  <p style="width: 250px; height: 12px;">{{i.statusA}}</p>
                </center>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <footer>
      <p class="fecha">Caracas, {{ingreso}}</p>
      <br />
    </footer>
  </body>
</html>
