.boton-on, .boton-off:hover{
	background: #ebebeb;/* url(border.png) no-repeat;*/
	color: #67a5cd;
	padding: 7px 15px 7px 30px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;

    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    width: 100px;
    display: block;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 4px #888;
}

.boton-off{
	-webkit-transition: all 0.3s ease-out;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
	background: #63AFD0 url(../img/Atencion/border.png) no-repeat;
	color: white;
	padding: 7px 15px 7px 15px;

	-webkit-border-top-right-radius: 10px;
 	-webkit-border-bottom-right-radius: 10px;
	width: 100px;
	display: block;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 4px #888;
}

ul.navDer {
    list-style: none;
	width: 65%;
	left: 0px;
	padding: 30px 0px 30px 0px;
	background: url(../img/Atencion/shad2.png) no-repeat;
	-webkit-background-size: 50% 100%;
}

ul.navDer li {
	margin: 5px 0 0 0;
}

;

ul.navDer1 {
   	list-style: none;
	width: 65%;
	left: 0px;
	padding: 30px 0px 30px 0px;
	background: url(../img/Atencion/shad2.png) no-repeat;
	-webkit-background-size: 50% 100%;
	border: solid;
	border-color: #000;
}

ul.navDer1 li {
	margin: 5px 0 0 0;
}
