<!-- 
  Esta plantilla imprime el formulario con el que se puede realizar la 
  evaluación de un paciente.
  
  Entrada:
    form -> El formulario de Python que contiene la información
-->
{% block scripts %}
  <!--Datetime Picker -->
  <script type="text/javascript"
          src="/static/libs/datepicker/js/bootstrap-datetimepicker.min.js">
  </script>

  <script type="text/javascript"
    src="/static/libs/bootstrap/js/bootstrap-tab.js">
  </script>


  <script type="text/javascript"
          src="/static/js/scriptDatePicker.js">
  </script>
{% endblock %}



<form action='/emergencia/{{ idE }}/evaluar_paciente'
      class='tablaAgregar formulario-evaluacion' 
      method='post'
      name='calcularTriage'>
  <!-- Since this form will be rendered manually, the csrf token must be
       manually set -->
  {% if csrf_token_value == None %}
    {% csrf_token %}
  {% else %}
    <div style='display:none'>
      <input type='hidden' 
             name='csrfmiddlewaretoken' 
             value='{{ csrf_token_value }}'/>
    </div>
  {% endif %}
  <table>
    <tr>
      <td>{{ form.fecha.label }}</td>
      <td>
        <div id='ingreso_picker' class='input-append'>
          {{ form.fecha }}
          <span id='ahora' class='btn'>
            Ahora
          </span> 
          <span class='add-on'> 
            <i data-time-icon='icon-time' data-date-icon='icon-calendar'></i>
          </span>
        </div> 
      </td>
      <td>{{ form.fecha.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.motivo.label }}</td>
      <td>{{ form.motivo }}</td>
      <td>{{ form.motivo.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.ingreso.label }}</td>
      <td>{{ form.ingreso }}</td>
      <td>{{ form.ingreso.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.temperatura.label }}</td>
      <td>
        <div class='input-append'>
          {{ form.temperatura }} 
          <span class='add-on'>&deg;C</span>
        </div>
      </td>
      <td>{{ form.temperatura.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.frecuencia_cardiaca.label }}</td>
      <td>
        <div class='input-append'>
          {{ form.frecuencia_cardiaca }} 
          <span class='add-on'>ppm</span>
        </div>
      </td>
      <td>{{ form.frecuencia_cardiaca.errors   }}</td>
    </tr>
    <tr>
      <td>{{ form.frecuencia_respiratoria.label }}</td>
      <td>
        <div class='input-append'>
          {{ form.frecuencia_respiratoria }} 
          <span class='add-on'>rpm</span>
        </div>
      </td>
      <td>{{ form.frecuencia_respiratoria.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.presion_sistolica.label }}</td>
      <td>
        <div class='input-append'>
          {{ form.presion_sistolica }} 
          <span class='add-on'>mmHg</span>
        </div>
      </td>
      <td>{{ form.presion_sistolica.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.presion_diastolica.label }}</td>
      <td>
        <div class='input-append'>
          {{ form.presion_diastolica }} 
          <span class='add-on'>mmHg</span>
        </div>
      </td>
      <td>{{ form.presion_diastolica.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.saturacion_oxigeno.label }}</td>
      <td>
        <div class='input-append'>
          {{ form.saturacion_oxigeno }} 
          <span class='add-on'>%</span>
        </div>
      </td>
      <td>{{ form.saturacion_oxigeno.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.avpu.label }}</td>
      <td>{{ form.avpu }}</td>
      <td>{{ form.avpu.errors }}</td>
    <tr>
      <td>{{ form.intensidad_dolor.label }}</td>
      <td>{{ form.intensidad_dolor }}</td>
      <td>{{ form.intensidad_dolor.errors }}</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input class='btn btn-primary boton-evaluar' type='submit' value='Registrar' />
      </td>
    </tr>
  </table>
</form>
